openapi: 3.0.0
info:
  title: Ordoro API Documentation Address Order API
  description: "# Introduction\n\nThe Ordoro API can be used to access data or integrate to add functionality to Ordoro. The Ordoro API uses the application/json Content-Type. The Ordoro API documentation is in beta. [See our forum](https://forums.ordoro.com) for questions or comments to help us improve the docs or request features.\n#### Note: Any routes with a /v3 designation will not allow for trailing slashes while all other routes and endpoints will require a trailing slash.\n\n# Authentication\n\nThe Ordoro API uses [Basic HTTP Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Please create API keys via Settings->Account Settings->API Keys in app and use those for basic auth in your API requests.\n\n# Additional Resources\n\nFor a look at some code examples on how to use the API check out our github repo https://github.com/ordoro/api-examples.\n\n# API Responses\n\nMost of our endpoints return either a list of objects or a single object instance. They share similar response shapes.\n\n## List endpoints\n\nList endpoints respond with the following parameters:\n\n| Name           | Type                     | Description |\n|----------------|--------------------------|-------------|\n| `count`        | int                      | The total number of objects returned by a query ( **not** necessarily the number of objects included in a response). |\n| `limit`        | int                      | The maximum number of objects returned per request. Defaults to 10. Maximum is 100. You can set this as a URL parameter. |\n| `offset`       | int                      | The number of objects being offset in the response. May be altered as a URL Parameter. |\n| `<model name>` | array | An array of objects. The name of the model should be singular. For example, the /v3/order endpoint will have an `order` parameter, as opposed to `orders`.|\n\nHere is an example response for the `/v3/order` list endpoint.\n\n```\n{\n    \"count\": 2,\n    \"limit\": 10,\n    \"offset\" 0,\n    \"order\": [\n        {\n            // an order object\n        },\n        {\n            // another order object\n        }\n    ]\n}\n```\n\n## Instance endpoints\n\nInstance endpoints return a single instance of a serialized model. `/v3/order/{order_number}` is an example of an instance endpoint.\n\n# Error Handling\n\nError responses contain the following parameters:\n\n| Name            | Type             | Description                                                          |\n|-----------------|------------------|----------------------------------------------------------------------|\n| `error_message` | string           | Some human-readable error message.                                   |\n| `param`         | string or `null` | The name of the corresponding parameter, or null for general errors. |\n\n# Rate Limiting\n\nAPI requests will be limited to 500 requests per minute. Any requests over this threshold will respond with a 429 status code."
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Order
  description: Orders are the main level of management in Ordoro. Orders have lines, warehouse associations and can be dropshipped or have labels created for them.
paths:
  /v3/order/counts:
    get:
      summary: Get order status counts
      operationId: OrderCounts_GET
      tags:
      - Order
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                awaiting_fulfillment: 3
                cancelled: 0
                dropshipment_requested: 0
                shipped: 0
                all: 3
              schema:
                $ref: '#/components/schemas/order_counts'
  /v3/order/parent/{parent_order_number}:
    get:
      summary: Get parent order information
      description: A parent order is left after an order is split, this information is view-only.
      operationId: OrderParentByParentOrderNumber_POST
      tags:
      - Order
      parameters:
      - description: A parent order number
        name: parent_order_number
        type: string
        in: path
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/parent_order'
  /v3/order:
    get:
      summary: Get a list of orders
      operationId: Order_GET
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - description: will return an order with a matching barcode regardless of other filters
        name: barcode
        schema:
          type: string
        in: query
        required: false
      - description: can be one of [all, awaiting_fulfillment, dropshipment_requested, shipped, cancelled]
        name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - awaiting_fulfillment
          - shipped
          - cancelled
          - dropshipment_requested
      - description: can be one of [could_not_allocate, unallocated, could_not_allocate, partial, allocated]
        name: allocation_status
        in: query
        required: false
        schema:
          type: string
          enum:
          - could_not_allocate
          - unallocated
          - partial
          - allocated
          - overallocated
      - name: allocatable
        schema:
          type: boolean
        in: query
        required: false
      - name: sales_channel
        schema:
          type: array
          items:
            type: integer
        in: query
        required: false
      - name: cart_order_id
        schema:
          type: string
        in: query
        required: false
      - name: warehouse_id
        schema:
          type: array
          items:
            type: integer
        in: query
        required: false
      - name: supplier
        schema:
          type: array
          items:
            type: integer
        in: query
        required: false
      - name: shipper
        schema:
          type: array
          items:
            type: integer
        in: query
        required: false
      - name: tag
        schema:
          type: array
          items:
            type: string
        in: query
        required: false
      - description: filter the results to only orders that have no tags
        name: untagged
        schema:
          type: string
        in: query
        required: false
      - name: sku
        schema:
          type: array
          items:
            type: string
        in: query
        required: false
      - description: including this parameter will filter the results to only orders that have labels that have been printed
        name: printed
        schema:
          type: string
        in: query
        required: false
      - name: has_similar_open_addresses
        schema:
          type: boolean
        in: query
        required: false
      - name: similar_address_to
        schema:
          type: string
        in: query
        required: false
      - name: ship_to_is_bill_to
        schema:
          type: boolean
        in: query
        required: false
      - name: ship_to_country
        schema:
          type: array
          items:
            type: string
        in: query
        required: false
      - description: can be one of [error, unvalidated, validated]
        name: ship_to_status
        schema:
          type: string
          enum:
          - error
          - unvalidated
          - shipped
          - cancelled
          - validated
        in: query
        required: false
      - name: created_after
        schema:
          type: string
        in: query
        required: false
      - name: created_before
        schema:
          type: string
        in: query
        required: false
      - name: created_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: created_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: created_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: updated_after
        schema:
          type: string
        in: query
        required: false
      - name: updated_before
        schema:
          type: string
        in: query
        required: false
      - name: updated_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: updated_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: updated_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: order_placed_after
        schema:
          type: string
        in: query
        required: false
      - name: order_placed_before
        schema:
          type: string
        in: query
        required: false
      - name: order_placed_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: order_placed_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: order_placed_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: shipped_after
        schema:
          type: string
        in: query
        required: false
      - name: shipped_before
        schema:
          type: string
        in: query
        required: false
      - name: shipped_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: shipped_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: shipped_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: dropshipped_after
        schema:
          type: string
        in: query
        required: false
      - name: dropshipped_before
        schema:
          type: string
        in: query
        required: false
      - name: dropshipped_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: dropshipped_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: dropshipped_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: deliver_by_after
        schema:
          type: string
        in: query
        required: false
      - name: deliver_by_before
        schema:
          type: string
        in: query
        required: false
      - name: deliver_by_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: deliver_by_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: deliver_by_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: ship_by_after
        schema:
          type: string
        in: query
        required: false
      - name: ship_by_before
        schema:
          type: string
        in: query
        required: false
      - name: ship_by_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: ship_by_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: ship_by_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: cancelled_after
        schema:
          type: string
        in: query
        required: false
      - name: cancelled_before
        schema:
          type: string
        in: query
        required: false
      - name: cancelled_interval_type
        schema:
          type: string
        in: query
        required: false
      - name: cancelled_interval_amount
        schema:
          type: number
        in: query
        required: false
      - name: cancelled_interval_trunc
        schema:
          type: boolean
        in: query
        required: false
      - name: timezone
        schema:
          type: string
        in: query
        required: false
      - description: can be one of [(-)batch, (-)order_placed_date, (-)grand_total, (-)order_number, (-)created_date, (-)updated_date, (-)ship_date, (-)dropship_date, (-)deliver_by_date, (-)ship_by_date, (-)cancelled_date, (-)shipping_method, (-)status, (-)billing_address_name, (-)billing_address_zip, (-)shipping_address_name, (-)shipping_address_zip, (-)sku]
        name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - batch
          - -batch
          - order_placed_date
          - -order_placed_date
          - grand_total
          - -grand_total
          - order_number
          - -order_number
          - created_date
          - -created_date
          - updated_date
          - -updated_date
          - ship_date
          - -ship_date
          - dropship_date
          - -dropship_date
          - deliver_by_date
          - -deliver_by_date
          - ship_by_date
          - -ship_by_date
          - cancelled_date
          - -cancelled_date
          - shipping_method
          - -shipping_method
          - status
          - -status
          - billing_address_name
          - -billing_address_name
          - billing_address_zip
          - -billing_address_zip
          - shipping_address_name
          - -shipping_address_name
          - shipping_address_zip
          - -shipping_address_zip
          - sku
          - -sku
      - name: tag_filter_by
        schema:
          type: string
        enum:
        - or
        - and
        - only
        - not
        in: query
        required: false
      - name: exclude_tags
        schema:
          type: array
          items:
            type: string
        in: query
        required: false
      - name: batch_reference_id
        schema:
          type: string
        in: query
        required: false
      - name: has_revision
        schema:
          type: boolean
        in: query
        required: false
      - name: in_batch
        schema:
          type: boolean
        in: query
        required: false
      - name: carrier_error
        schema:
          type: boolean
        in: query
        required: false
      - name: batch_error
        schema:
          type: boolean
        in: query
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                shippability: shippable
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: vvisa
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  created_date: '2016-01-06T16:01:00.284745-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  id: 1001
                  product_name: product 1
                  product_link: /product/sku1
                  sku: sku1
                  shippability: shippable
                  details: Size:Medium
                - quantity: 1
                  item_price: 4.56
                  link: /order/M-order-1234/line/1002
                  id: 1002
                  product_name: product 2
                  product_link: /product/sku2
                  sku: sku2
                  shippability: shippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order_list'
    post:
      summary: Create an Order
      operationId: Order_POST
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_order_v1'
            examples:
              example:
                value:
                  order_id: i-want-my-order-1234
                  cart: 100
                  cart_order_id: this-is-from-the-cart-1234
                  order_date: '2015-12-09T12:01:00.855700'
                  shipping_address:
                    name: joe schmo
                    street1: 123 foo-bar ln
                    city: austin
                    state: tx
                    zip: '78701'
                    country: USA
                    phone: '8675309'
                    email: jenny@igotyournumber.com
                  billing_address:
                    name: joe schmo
                    street1: 123 foo-bar ln
                    city: austin
                    state: tx
                    zip: '78701'
                    country: USA
                    phone: '4592222'
                    email: mrgattispizza@delivers.com
                  lines:
                  - cart_orderitem_id: abc.123
                    quantity: 2
                    item_price: 2.42
                    total_price: 4.84
                    product:
                      sku: sku1
                      name: special product name
                      price: 2.42
                      weight: 1
                      taxable: 'false'
                      cost: 1.21
                      amazon_extra_info:
                        pending_quantity: 4
                        listing_id: '12356'
                        asin: '55555'
                  - cart_orderitem_id: abc.456
                    quantity: 1
                    item_price: 1.23
                    total_price: 1.23
                    product:
                      sku: sku2
                      name: Plastic Toy
                      price: 1.23
                      weight: 2
                      taxable: 'false'
                      cost: 3.45
                  tags:
                  - text: Unpaid
                    color: '#FFFFFF'
                  - text: Alert
                    color: '#C0C0C0'
                  product_amount: 100.1
                  tax_amount: 1.23
                  grand_total: 123.45
        description: A legacy Order object
      parameters: []
      responses:
        '201':
          description: Order Successfully created
          content:
            application/json:
              example:
                updated_date: '2015-12-09T14:48:06.372425-06:00'
                status: new
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: null
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - link: /tag/2
                  color: '#FF0'
                  text: Alert
                  id: 2
                shipping_info: {}
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: product 1
                  product_link: /product/sku1
                  sku: sku1
                  shippability: shippable
                  details: Size:Medium
                - quantity: 1
                  item_price: 4.56
                  link: /order/M-order-1234/line/1002
                  product_name: product 2
                  product_link: /product/sku2
                  sku: sku2
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-09T13:37:36.884178-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}:
    get:
      summary: Retrieve an Order
      operationId: OrderByOrderNumber_GET
      description: Example Request `GET /order/M-order-1234`
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: vvisa
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: product 1
                  product_link: /product/sku1
                  sku: sku1
                  shippability: shippable
                  details: Size:Medium
                - quantity: 1
                  item_price: 4.56
                  link: /order/M-order-1234/line/1002
                  product_name: product 2
                  product_link: /product/sku2
                  sku: sku2
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
    put:
      summary: Update an Order's information
      operationId: OrderByOrderNumber_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_order'
            examples:
              example:
                value:
                  weight: 10.5
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: vvisa
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 10.5
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: product 1
                  product_link: /product/sku1
                  sku: sku1
                  shippability: shippable
                  details: Size:Medium
                - quantity: 1
                  item_price: 4.56
                  link: /order/M-order-1234/line/1002
                  product_name: product 2
                  product_link: /product/sku2
                  sku: sku2
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/cancel:
    post:
      summary: Cancel an order
      operationId: OrderCancelByOrderNumber_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                updated_date: '2015-12-17T19:08:46.876495-06:00'
                status: cancelled
                notes_from_customer: None
                billing_address:
                  city: austin
                  state: TX
                  name: John Gatti
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St Ste 407
                  company: None
                  street2: None
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: None
                  discount_amount: 0
                requested_shipping_method: None
                tags:
                - link: /tag/2
                  color: '#FF0'
                  text: Alert
                  id: 2
                shipping_info: {}
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Tommy Tutone
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St Ste 407
                  company: None
                  street2: None
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: product 1
                  product_link: /product/sku1
                  sku: sku1
                  shippability: shippable
                  details: Size:Medium
                - quantity: 1
                  item_price: 4.56
                  link: /order/M-order-1234/line/1002
                  product_name: product 2
                  product_link: /product/sku2
                  sku: sku2
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-09T13:37:36.884178-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: my-order-13
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/uncancel:
    post:
      summary: Uncancel an order
      operationId: OrderUncancelByOrderNumber_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                updated_date: '2015-12-17T19:08:46.876495-06:00'
                status: awaiting_fulfillment
                notes_from_customer: None
                billing_address:
                  city: austin
                  state: TX
                  name: John Gatti
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St Ste 407
                  company: None
                  street2: None
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: None
                  discount_amount: 0
                requested_shipping_method: None
                tags:
                - link: /tag/2
                  color: '#FF0'
                  text: Alert
                  id: 2
                shipping_info: {}
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Tommy Tutone
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St Ste 407
                  company: None
                  street2: None
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: product 1
                  product_link: /product/sku1
                  sku: sku1
                  shippability: shippable
                  details: Size:Medium
                - quantity: 1
                  item_price: 4.56
                  link: /order/M-order-1234/line/1002
                  product_name: product 2
                  product_link: /product/sku2
                  sku: sku2
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-09T13:37:36.884178-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: my-order-13
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/financial:
    put:
      summary: Update an Order's financial information
      operationId: OrderFinancialByOrderNumber_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_financial'
            examples:
              example:
                value:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: Veeza
                  discount_amount: 0
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                grand_total: 123.45
                tax_amount: 1.23
                product_amount: 100.1
                shipping_amount: 0
                credit_card_issuer: Veeza
                discount_amount: 0
              schema:
                $ref: '#/components/schemas/order_financial'
  /v3/order/{order_number}/shipping_info:
    delete:
      summary: Delete an Order's Shipping Information
      operationId: OrderShippingInfoByOrderNumber_DELETE
      description: Delete shipping_info from an order, changing order status to `awaiting_fulfillment`
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: Shipping info successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
    put:
      summary: Update an Order's shipping information
      operationId: OrderShippingInfoByOrderNumber_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_order_shipping_info'
            examples:
              example:
                value:
                  tracking_number: 1234-lkjd
                  cost: 7
                  ship_date: '2016-03-07T06:06:06.123456-06:00'
                  shipping_method: rail
                  carrier_name: DHL
                  notify_bill_to: false
                  notify_ship_to: true
                  notify_cart: true
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                shipping_method: rail
                ship_date: '2016-03-07T06:06:06.123456-06:00'
                created_date: '2016-01-06T16:01:00.284745-06:00'
                tracking_number: 1234-lkjd
                cost: 7
                tracking_url: null
                has_label: false
                carrier_name: DHL
                carrier: null
                box_shape: null
                length: null
                width: null
                height: null
              schema:
                $ref: '#/components/schemas/shipping_info'
    post:
      summary: Add Shipping Information to an Order
      operationId: OrderShippingInfoByOrderNumber_POST
      description: Add Shipping Information to an Order and Mark it as Shipped
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_order_shipping_info'
            examples:
              example:
                value:
                  tracking_number: 1234-lkjd
                  cost: 7
                  ship_date: '2016-03-07T06:06:06.123456-06:00'
                  shipping_method: rail
                  carrier_name: DHL
                  notify_bill_to: false
                  notify_ship_to: true
                  notify_cart: true
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '201':
          description: 201 OK
          content:
            application/json:
              example:
                shipping_method: rail
                ship_date: '2016-03-07T06:06:06.123456-06:00'
                created_date: '2016-01-06T16:01:00.284745-06:00'
                tracking_number: 1234-lkjd
                cost: 7
                tracking_url: null
                has_label: false
                carrier_name: DHL
                carrier: null
                box_shape: null
                length: null
                width: null
                height: null
              schema:
                $ref: '#/components/schemas/shipping_info'
  /v3/order/{order_number}/mark_as_printed:
    post:
      summary: Mark an order with a label as printed
      operationId: OrderMarkAsPrintedByOrderNumber_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
  /v3/order/{order_number}/shipment_preset/{preset_id}:
    post:
      summary: Add a preset to an order
      operationId: OrderShipmentPresetByOrderNumberAndPresetId_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: preset_id
        type: integer
        in: path
        required: true
      responses:
        '201':
          description: 201 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_preset'
    delete:
      summary: Remove a preset from an order
      operationId: OrderShipmentPresetByOrderNumberAndPresetId_DELETE
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: preset_id
        type: integer
        in: path
        required: true
      responses:
        '200':
          description: 201 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_preset'
  /v3/order/{order_number}/return_preset/{preset_id}:
    post:
      summary: Add a preset to an order
      operationId: OrderReturnPresetByOrderNumberAndPresetId_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: preset_id
        type: integer
        in: path
        required: true
      responses:
        '201':
          description: 201 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_preset'
    delete:
      summary: Remove a preset from an order
      operationId: OrderReturnPresetByOrderNumberAndPresetId_DELETE
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: preset_id
        type: integer
        in: path
        required: true
      responses:
        '201':
          description: 201 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_preset'
  /v3/order/{order_number}/split:
    post:
      summary: Split an Order
      operationId: OrderSplitByOrderNumber_POST
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_order_split'
            examples:
              example:
                value:
                  split_orders:
                  - lines:
                    - line_id: 1234
                      quantity: 1
                    - line_id: 987
                      quantity: 0
                    - line_id: 777
                      quantity: 3
                  - lines:
                    - line_id: 1234
                      quantity: 1
                    - line_id: 987
                      quantity: 0
                    - line_id: 777
                      quantity: 3
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '201':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/split_order'
  /v3/order/{order_number}/mark_as_shipped:
    post:
      summary: Mark an order as shipped
      description: This allows you to set an order status to shipped without adding tracking info or notifying cart
      operationId: OrderMarkAsShippedByOrderNumber_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                shippability: shippable
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: veeza
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  created_date: '2016-01-06T16:01:00.284745-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: foragoodtimecall@jenny.com
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: feel coll inns
                  product_link: /product/phil-collins-skuskudio
                  sku: phil-collins-skuskudio
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/mark_as_dropshipped:
    post:
      summary: Mark an order as dropshipped
      description: This allows you to set the status of an Order to dropshipment_requested
      operationId: OrderMarkAsDropshippedByOrderNumber_POST
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_order_dropship'
            examples:
              example:
                value:
                  supplier_id: 1234
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/dropship:
    get:
      summary: Get dropship request for an order
      operationId: OrderDropshipByOrderNumber_GET
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_order_dropship'
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: string
                format: byte
    post:
      summary: Create dropship request for an order
      description: When an order is drop shipped, an email may be sent to the assigned supplier.
      operationId: OrderDropshipByOrderNumber_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_order_dropship'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: dropshipment_requested
                shippability: shippable
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: Oar D'Oro
                  zip: '78701'
                  country: US
                  street1: 106 E 6th st
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: veeza
                  discount_amount: 0
                requested_shipping_method: Standard
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info: {}
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: feel coll inns
                  product_link: /product/phil-collins-skuskudio
                  sku: phil-collins-skuskudio
                  shippability: unshippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info:
                  supplier:
                    link: /supplier/42
                    id: 42
                  requested_date: '2015-12-10T06:01:00.855700-06:00'
                  show_price: false
                  shipping_method: priority
                  instructions: gift message
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse: {}
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/process_dropshipments:
    post:
      summary: Process dropshipments for an Order
      operationId: OrderProcessDropshipmentsByOrderNumber_POST
      description: Processing an order for drop shipping automatically may split an order based on it's order lines' supplier and product's automatic dropship status. An email may also be sent to a supplier using this method.
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/split_order'
  /v3/order/{order_number}/billing_address:
    put:
      summary: Update an Order's Billing Address
      operationId: OrderBillingAddressByOrderNumber_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_address'
            examples:
              example:
                value:
                  name: Tommy Tutone
                  zip: '00000'
        description: Updated fields for an order's address
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                name: Tommy Tutone
                company: null
                street1: 101 W 6th St
                street2: ''
                city: Austin
                state: TX
                zip: '00000'
                country: US
                phone: '8675309'
                email: null
                validation:
                  status: unvalidated
                  suggested: []
                  additional_text: null
              schema:
                $ref: '#/components/schemas/address'
  /v3/order/{order_number}/shipping_address:
    put:
      summary: Update an Order's Shipping Address
      operationId: OrderShippingAddressByOrderNumber_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_address'
            examples:
              example:
                value:
                  name: Tommy Tutone
                  zip: '00000'
        description: Updated fields for an order's address
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                name: Tommy Tutone
                company: null
                street1: 101 W 6th St
                street2: ''
                city: Austin
                state: TX
                zip: '00000'
                country: US
                phone: '8675309'
                email: null
                validation:
                  status: unvalidated
                  suggested: []
                  additional_text: null
              schema:
                $ref: '#/components/schemas/address'
  /v3/order/{order_number}/warehouse:
    put:
      summary: Update an Order's Warehouse
      operationId: OrderWarehouseByOrderNumber_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_order_warehouse'
            examples:
              example:
                value:
                  warehouse_id: 1234
        description: Warehouse id
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/comment:
    post:
      summary: Add a comment to an order
      operationId: OrderCommentByOrderNumber_POST
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_comment'
        description: The text you want to add to the order comment
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
              - user: ben@ordoro.com
                date: '2016-03-09T17:24:15.212489-06:00'
                text: sucka
              schema:
                $ref: '#/components/schemas/comment'
    get:
      summary: Retrieve Comments
      operationId: OrderCommentByOrderNumber_GET
      description: ''
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                count: 1
                comment:
                - user: user@ordoro.com
                  date: '2026-03-05T21:10:26.911724+00:00'
                  text: This is a very important comment
              schema:
                $ref: '#/components/schemas/comment'
  /v3/order/{order_number}/line:
    post:
      summary: Add an Order Line
      operationId: OrderLineByOrderNumber_POST
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_order_line'
            examples:
              example:
                value:
                  sku: phil-collins-skuskudio
                  quantity: 1
                  item_price: 1.23
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      responses:
        '201':
          description: Order Line successfully created
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                shippability: shippable
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: veeza
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  created_date: '2016-01-06T16:01:00.284745-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: foragoodtimecall@jenny.com
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product_name: feel coll inns
                  product_link: /product/phil-collins-skuskudio
                  sku: phil-collins-skuskudio
                  shippability: unshippable
                  details: ''
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/line/{order_line_id}:
    put:
      summary: Update an Order Line
      operationId: OrderLineByOrderNumberAndOrderLineId_PUT
      tags:
      - Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_order_line'
            examples:
              example:
                value:
                  quantity: 3
                  item_price: 3.5
                  details: Size:Small
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - description: Id of the order line
        name: order_line_id
        type: number
        in: path
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                shippability: shippable
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: vvisa
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  created_date: '2016-01-06T16:01:00.284745-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: jenny@igotyournumber.com
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product: feel coll inns
                  product_link: /product/phil-collins-skuskudio
                  sku: phil-collins-skuskudio
                  shippability: shippable
                  details: Size:Small
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
    delete:
      summary: Delete an Order Line
      operationId: OrderLineByOrderNumberAndOrderLineId_DELETE
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - description: Id of the order line
        name: order_line_id
        type: number
        in: path
        required: true
      responses:
        '200':
          description: Order successfully deleted
          content:
            application/json:
              example:
                updated_date: '2016-02-01T17:27:24.059091-06:00'
                status: shipped
                shippability: shippable
                notes_from_customer: null
                billing_address:
                  city: austin
                  state: TX
                  name: joe schmo
                  zip: '78701'
                  country: US
                  street1: 123 foo-bar ln
                  company: null
                  street2: null
                  phone: '4592222'
                  email: mrgattispizza@delivers.com
                  validation:
                    status: unvalidated
                    suggested: []
                    additional_text: null
                financial:
                  grand_total: 123.45
                  tax_amount: 1.23
                  product_amount: 100.1
                  shipping_amount: 0
                  credit_card_issuer: veeza
                  discount_amount: 0
                requested_shipping_method: null
                tags:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/3
                  id: 3
                - color: '#EE7AE9'
                  text: Phony
                  link: /tag/5
                  id: 5
                shipping_info:
                  shipping_method: GROUND_HOME_DELIVERY
                  ship_date: '2016-01-06T06:06:06.123456-06:00'
                  created_date: '2016-01-06T16:01:00.284745-06:00'
                  tracking_number: '782113802577'
                  cost: 11.47
                  tracking_url: http://www.fedex.com/Tracking?action=track&language=english&last_action=alttrack&ascend_header=1&cntry_code=us&initial=x&mps=y&tracknumbers=782113802577
                  has_label: true
                  carrier_name: null
                  carrier:
                    id: 1234
                    link: /carrier/1234
                  box_shape: big
                  length: 7
                  width: 7
                  height: 7
                weight: 3
                shipping_address:
                  city: austin
                  state: TX
                  name: Leroy
                  zip: '78701'
                  country: US
                  street1: 101 W 6th St
                  company: null
                  street2: null
                  phone: '8675309'
                  email: foragoodtimecall@jenny.com
                lines:
                - quantity: 1
                  item_price: 1.23
                  link: /order/M-order-1234/line/1001
                  product: feel coll inns
                  product_link: /product/phil-collins-skuskudio
                  sku: phil-collins-skuskudio
                  shippability: shippable
                  details: Size:Medium
                cart:
                  link: /cart/28
                  id: 28
                dropshipping_info: {}
                order_placed_date: '2015-12-09T06:01:00.855700-06:00'
                return_shipping_info: {}
                created_date: '2015-12-15T11:35:46.284745-06:00'
                warehouse:
                  link: /warehouse/15450
                  id: 15450
                order_number: M-order-1234
                barcode: '148191668853950'
                comments: []
                link: /order/M-order-1234
              schema:
                $ref: '#/components/schemas/order'
  /v3/order/{order_number}/tag/{tag_id}:
    post:
      summary: Add a tag to an order
      operationId: OrderbyOrderNumberAndTagByID_POST
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: tag_id
        in: path
        type: integer
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
              - link: /tag/2
                color: '#FF0'
                text: Alert
                id: 2
              - link: /tag/1
                color: '#C0C0C0'
                text: hold
                id: 1
              schema:
                $ref: '#/components/schemas/tags'
    delete:
      summary: Remove tag from order
      operationId: OrderbyOrderNumberAndTagByID_DELETE
      tags:
      - Order
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: tag_id
        in: path
        type: integer
        required: true
      responses:
        '200':
          description: 200 response OK
          content:
            application/json:
              example:
              - link: /tag/2
                color: '#FF0'
                text: Alert
                id: 2
              schema:
                $ref: '#/components/schemas/tags'
  /v3/order/tag:
    get:
      tags:
      - Order
      summary: List Order Tags
      description: ''
      operationId: ReturnOrderTag_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                count: 2
                tag:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/1
                  id: 1
                - color: '#f7dbe7'
                  text: Tag
                  link: /tag/3
                  id: 3
                limit: 10
                offset: 0
              schema:
                $ref: '#/components/schemas/v3_tag_list'
      deprecated: false
    post:
      tags:
      - Order
      summary: Create an Order Tag
      description: ''
      operationId: ReturnOrderTag_POST
      parameters: []
      responses:
        '201':
          description: response OK
          content:
            application/json:
              title: V3 Tag Schema
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                color:
                  type: string
              required:
              - id
              - name
              - color
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3_tag'
      deprecated: false
  /v3/order/tag/{tagNamePath}:
    get:
      tags:
      - Order
      summary: Get an Order Tag By Name
      description: ''
      operationId: ReturnOrderTagWithName_GET
      parameters: []
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                count: 2
                tag:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/1
                  id: 1
                - color: '#f7dbe7'
                  text: Tag
                  link: /tag/3
                  id: 3
                limit: 10
                offset: 0
              schema:
                $ref: '#/components/schemas/v3_tag'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_v3_tag_list'
      deprecated: false
    put:
      tags:
      - Order
      summary: Update an Order Tag
      description: ''
      operationId: ReturnOrderTag_PUT
      parameters: []
      responses:
        '200':
          description: response OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_v3_tag'
      deprecated: false
    delete:
      tags:
      - Order
      summary: Delete an Order Tag
      description: ''
      operationId: ReturnOrderTag_DELETE
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
components:
  schemas:
    order:
      title: Order Schema
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        order_number:
          type: string
        barcode:
          type: string
        order_placed_date:
          type: string
        created_date:
          type: string
        updated_date:
          type: string
        cancelled_date:
          anyOf:
          - type: string
          - type: 'null'
        obscured_date:
          anyOf:
          - type: string
          - type: 'null'
        status:
          type: string
        shippability:
          type: string
        shipping_address:
          $ref: '#/components/schemas/address'
        billing_address:
          $ref: '#/components/schemas/address'
        alternate_ship_from_address:
          oneOf:
          - $ref: '#/components/schemas/address'
          - type: 'null'
        label_infos:
          type: array
          items:
            type: number
        lines:
          type: array
          items:
            type: object
            properties:
              link:
                type: string
              id:
                type: integer
              quantity:
                type: integer
              item_price:
                type: number
              supplier_price:
                anyOf:
                - type: number
                - type: 'null'
              sku:
                type: string
              product_name:
                type: string
              product_is_kit_parent:
                type: boolean
              product_serial_numbers:
                type: array
                items:
                  type: string
              order_line_product_name:
                type: string
              product_link:
                type: string
              product_category:
                anyOf:
                - type: string
                - type: 'null'
              cart_order_id:
                anyOf:
                - type: string
                - type: 'null'
              cart_orderitem_id:
                anyOf:
                - type: string
                - type: 'null'
              cart_shipment_id:
                anyOf:
                - type: string
                - type: 'null'
              cogs:
                type: number
              shippability:
                type: object
                properties:
                  shippability:
                    type: string
                  supplier_id:
                    anyOf:
                    - type: number
                    - type: 'null'
                  is_dropship:
                    type: boolean
              details:
                anyOf:
                - type: string
                - type: 'null'
              upc:
                anyOf:
                - type: string
                - type: 'null'
              sales_channel_location_id:
                anyOf:
                - type: integer
                - type: 'null'
              is_allocated:
                type: boolean
            required:
            - quantity
            - item_price
            - supplier_price
            - link
            - product_name
            - product_link
            - sku
            - shippability
            - details
            - upc
        weight:
          description: Weight in ounces
          type: number
        notes_from_customer:
          anyOf:
          - type: string
          - type: 'null'
        internal_notes:
          anyOf:
          - type: string
          - type: 'null'
        requested_shipping_method:
          anyOf:
          - type: string
          - type: 'null'
        deliver_by_date:
          anyOf:
          - type: string
          - type: 'null'
        ship_by_date:
          anyOf:
          - type: string
          - type: 'null'
        sales_channel:
          type: object
          properties:
            id:
              type: integer
            link:
              type: string
        warehouse:
          type: object
          properties:
            id:
              type: integer
            link:
              type: string
        shipping_info:
          $ref: '#/components/schemas/shipping_info'
        return_shipping_info:
          $ref: '#/components/schemas/shipping_info'
        dropshipping_info:
          $ref: '#/components/schemas/dropshipping_info'
        comments:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              text:
                type: string
              user:
                type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tag'
        financial:
          $ref: '#/components/schemas/order_financial'
        link:
          type: string
        additional_cart_info:
          type: object
          properties:
            is_prime:
              type: boolean
        is_order_parent:
          type: boolean
        parent_order_number:
          anyOf:
          - type: string
          - type: 'null'
        sibling_order_numbers:
          type: array
          items:
            type: string
        audit_label:
          type: array
          items:
            type: object
        return_order_reference_ids:
          type: array
          items:
            type: string
        similar_open_addresses_count:
          type: integer
        allocation_status:
          type: string
        batch_reference_id:
          anyOf:
          - type: string
          - type: 'null'
        batch:
          type: object
        has_revision:
          type: boolean
        revision_locked_fields:
          type: array
          items:
            type: string
      required:
      - billing_address
      - shipping_address
    order_list:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        count:
          type: integer
        order:
          type: array
          items:
            $ref: '#/components/schemas/order'
      required:
      - limit
      - offset
      - count
      - order
    v3_tag:
      title: V3 Tag Schema
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
      required:
      - id
      - name
      - color
    post_order_line:
      title: POST Order Line Request Schema
      type: object
      additionalProperties: false
      properties:
        quantity:
          type: integer
          default: 1
        item_price:
          type: number
        total_price:
          type: number
        discount_amount:
          type: number
        product_name:
          type: string
        product_serial_numbers:
          type: array
          items:
            type: string
        sku:
          type: string
        details:
          type: string
        sales_channel_location_id:
          anyOf:
          - type: integer
          - type: 'null'
        cart_orderitem_id:
          type: string
        cart_order_id:
          type: string
        cart_shipment_id:
          type: string
      required:
      - sku
    put_order:
      title: Order Update Schema
      type: object
      additionalProperties: false
      properties:
        notes_from_customer:
          description: Customer notes
          type: string
        internal_notes:
          description: Staff notes
          type: string
        batch_reference_id:
          description: Batch ID
          type: string
        ship_by_date:
          description: The date the order must be shipped by
          format: date-time
          anyOf:
          - type: 'null'
          - type: string
        deliver_by_date:
          description: The date the order must be delivered by
          format: date-time
          anyOf:
          - type: 'null'
          - type: string
    post_order_dropship:
      title: Order dropship request schema
      type: object
      properties:
        supplier_id:
          type: integer
        shipping_method:
          anyOf:
          - type: string
          - type: 'null'
        shipping_account:
          type: string
        shipping_carrier:
          type: string
        instructions:
          type: string
        show_images_email:
          type: boolean
          default: false
        show_images_packing_list:
          type: boolean
          default: false
        show_price:
          type: boolean
          default: false
        show_ship_to_email:
          type: boolean
          default: false
        packing_list_id:
          type: integer
        override_shipping_mappings:
          type: boolean
          default: false
      required:
      - supplier_id
    address:
      title: Address Schema
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          example: Jimmy McGill
          anyOf:
          - type: string
          - type: 'null'
        company:
          example: Hamlin, Hamlin & McGill
          anyOf:
          - type: string
          - type: 'null'
        street1:
          example: 100 Constitution Ave
          anyOf:
          - type: string
          - type: 'null'
        street2:
          anyOf:
          - type: string
          - type: 'null'
        city:
          example: Albuquerque
          anyOf:
          - type: string
          - type: 'null'
        state:
          example: NM
          anyOf:
          - type: string
          - type: 'null'
        zip:
          example: '87109'
          anyOf:
          - type: string
          - type: 'null'
        country:
          example: US
          anyOf:
          - type: string
          - type: 'null'
        email:
          example: slippin-jimmy@saul-good.man
          anyOf:
          - type: string
          - type: 'null'
        phone:
          example: 555-867-5309
          anyOf:
          - type: string
          - type: 'null'
        fax:
          anyOf:
          - type: string
          - type: 'null'
        cart_address_id:
          anyOf:
          - type: string
          - type: 'null'
        revision_locked_fields:
          type: array
        validation:
          title: Validation status of an Address
          properties:
            status:
              type: string
              enum:
              - unvalidated
              - validated
              - warning
              - error
            suggested:
              type: array
              items:
                title: Suggested Address
                type: object
                additionalProperties: false
                properties:
                  is_commercial:
                    default: false
                    anyOf:
                    - type: boolean
                    - type: 'null'
                  street1:
                    type: string
                  street2:
                    anyOf:
                    - type: string
                    - type: 'null'
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  country_code:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - city
                - state
                - zip
                - street1
            additional_text:
              anyOf:
              - type: string
              - type: 'null'
          required:
          - status
          - additional_text
          - suggested
          additionalProperties: false
          anyOf:
          - type: object
          - type: 'null'
      required:
      - name
      - company
      - street1
      - street2
      - city
      - state
      - zip
      - country
      - email
      - phone
    v3_tag_list:
      title: Tag List Schema
      type: object
      properties:
        count:
          type: integer
        tag:
          type: array
          items:
            $ref: '#/components/schemas/v3_tag'
        limit:
          type: integer
          default: 10
        offset:
          type: integer
          default: 0
      required:
      - count
      - tag
      - limit
      - offset
    split_order:
      title: Split Order Response Schema
      type: array
      minItems: 2
      uniqueItems: true
      items:
        type: string
    put_order_shipping_info:
      title: Shipping Info Request Schema
      additionalProperties: false
      type: object
      properties:
        tracking_number:
          type: string
        package_tracking:
          type: string
        cost:
          type: number
        ship_date:
          type: string
          format: date-time
        display_shipping_method:
          type: string
        shipping_cost:
          type: number
        shipping_method:
          type: string
        carrier_name:
          type: string
        insured_value:
          type: number
        notify_bill_to:
          type: boolean
          default: false
        notify_ship_to:
          type: boolean
          default: false
        notify_cart:
          type: boolean
          default: false
        tracking_url:
          type: string
        zone:
          anyOf:
          - type: string
          - type: 'null'
      required:
      - tracking_number
      - ship_date
      - carrier_name
    order_split_line:
      title: Order Split Line Schema
      type: object
      additionalProperties: false
      properties:
        line_id:
          type: integer
        quantity:
          type: number
          minimum: 0
          exclusiveMinimum: false
      required:
      - line_id
      - quantity
    order_financial:
      title: Order Financial Schema
      type: object
      additionalProperties: false
      properties:
        credit_card_issuer:
          anyOf:
          - type: string
          - type: 'null'
        discount_amount:
          description: Not calculated
          anyOf:
          - type: number
          - type: 'null'
        product_amount:
          description: Not calculated
          anyOf:
          - type: number
          - type: 'null'
        shipping_amount:
          description: Not calculated
          anyOf:
          - type: number
          - type: 'null'
        tax_amount:
          description: Not calculated
          anyOf:
          - type: number
          - type: 'null'
        grand_total:
          description: Not calculated
          anyOf:
          - type: number
          - type: 'null'
    shipping_info:
      title: Shipping Info Schema
      type: object
      properties:
        delivery_confirmation:
          description: delivery or signature confirmation requested to the carrier at the time of label creation. Should be of type string.
        tracking_number:
          anyOf:
          - type: string
          - type: 'null'
        package_tracking:
          anyOf:
          - type: string
          - type: 'null'
        tracking_url:
          anyOf:
          - type: string
          - type: 'null'
        cost:
          type: number
        transaction_fee:
          type: number
        link:
          type: string
        shipping_method:
          anyOf:
          - type: string
          - type: 'null'
        display_shipping_method:
          anyOf:
          - type: string
          - type: 'null'
        ship_date:
          format: date-time
          anyOf:
          - type: string
          - type: 'null'
        has_label:
          type: boolean
        has_additional_docs:
          type: boolean
        created_date:
          type: string
        carrier_name:
          anyOf:
          - type: string
          - type: 'null'
        carrier:
          properties:
            id:
              type: integer
            link:
              type: string
          anyOf:
          - type: object
          - type: 'null'
        estimated_delivery_date:
          anyOf:
          - type: string
          - type: 'null'
        box_shape:
          anyOf:
          - type: string
          - type: 'null'
        length:
          description: 'deprecated: Length in inches, see packages'
          anyOf:
          - type: number
          - type: 'null'
        width:
          description: 'deprecated: Width in inches, see packages'
          anyOf:
          - type: number
          - type: 'null'
        height:
          description: 'deprecated: Height in inches, see packages'
          anyOf:
          - type: number
          - type: 'null'
        insurance:
          description: Insurance data if Ordoro discounted Shipsurance is used
          anyOf:
          - type: object
          - type: 'null'
        insured_value:
          description: value of the package if it was insured using Ordoro discounted Shipsurance
          anyOf:
          - type: number
          - type: 'null'
        customs_info:
          items:
            type: object
            additionalProperties: false
            properties:
              country:
                anyOf:
                - type: string
                - type: 'null'
              description:
                anyOf:
                - type: string
                - type: 'null'
              quantity:
                anyOf:
                - type: integer
                - type: 'null'
              value:
                description: Dollar value of customs line
                format: double
                anyOf:
                - type: number
                - type: 'null'
              weight:
                description: Weight of customs line in ounces
                anyOf:
                - type: number
                - type: 'null'
          anyOf:
          - type: array
          - type: 'null'
        ship_from:
          description: optionally exists if a ship_from address was used to create a label or tracking
          $ref: '#/components/schemas/address'
        reference_number:
          description: reference number sent to the carrier for the shipment
          anyOf:
          - type: string
          - type: 'null'
        return_to:
          $ref: '#/components/schemas/address'
        ship_to:
          description: optionally exists if a ship_to address was used to create a label or tracking
          $ref: '#/components/schemas/address'
        status:
          description: tracking status if available from USPS carrier
          anyOf:
          - type: string
          - type: 'null'
        carrier_updated_date:
          description: the last date that the carrier updated the tracking status, currently only used for USPS shipments
          anyOf:
          - type: string
          - type: 'null'
        presets:
          type: array
          items:
            type: integer
        packages:
          items:
            type: object
          anyOf:
          - type: array
          - type: 'null'
        packing_list_id:
          description: id of packing list profile template used to create this label
          anyOf:
          - type: integer
          - type: 'null'
        print_date:
          anyOf:
          - type: string
          - type: 'null'
        label_image_link:
          anyOf:
          - type: string
          - type: 'null'
        void:
          type: boolean
        zone:
          anyOf:
          - type: string
          - type: 'null'
    shipment_preset:
      title: Order Presets Response Schema
      type: object
      additionalProperties: false
      properties:
        presets:
          type: array
          items:
            type: integer
      required:
      - presets
    post_order_split:
      title: Split Order Schema
      type: object
      additionalProperties: false
      properties:
        split_orders:
          type: array
          minItems: 2
          items:
            type: object
            properties:
              lines:
                type: array
                minItems: 1
                items:
                  $ref: '#/components/schemas/order_split_line'
      required:
      - split_orders
    tags:
      title: Post Order Tag Response
      type: array
      items:
        $ref: '#/components/schemas/tag'
    order_counts:
      title: Get Order Counts Response Schema
      type: object
      properties:
[...]
