openapi: 3.2.0
info:
  title: Ordoro API Documentation Packing List API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Packing List
  description: A company or account may have multple packing list formats to be saved, retrieved and used for printing Order information.
paths:
  /packing_list/:
    get:
      tags:
      - Packing List
      summary: Get a list of packing lists
      description: ''
      operationId: PackingList_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: packing_list_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list_list'
      deprecated: false
    post:
      tags:
      - Packing List
      summary: Create a packing list
      description: ''
      operationId: PackingList_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_packing_list'
      deprecated: false
  /packing_list/{packing_list_id}/:
    delete:
      tags:
      - Packing List
      summary: Delete a packing list by ID
      description: ''
      operationId: PackingListByPackingListId_DELETE
      parameters:
      - $ref: '#/components/parameters/packingListIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      deprecated: false
    get:
      tags:
      - Packing List
      summary: Get a packing list by ID
      description: ''
      operationId: PackingListByPackingListId_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      deprecated: false
    put:
      tags:
      - Packing List
      summary: Update a packing list by ID
      description: ''
      operationId: PackingListByPackingListId_PUT
      parameters:
      - $ref: '#/components/parameters/packingListIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_packing_list'
      deprecated: false
  /packing_list/{packing_list_id}/make_default/:
    post:
      tags:
      - Packing List
      summary: Make a Packing List the Default by ID
      description: Set this packing list as the default
      operationId: PackingListMakeDefaultByPackingListId_POST
      parameters:
      - $ref: '#/components/parameters/packingListIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      deprecated: false
components:
  schemas:
    packing_list_list:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        count:
          type: integer
        packing_list:
          type: array
          items:
            $ref: '#/components/schemas/packing_list'
      required:
      - limit
      - offset
      - count
      - packing_list
    post_packing_list:
      title: Put Packing List Schema
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        branded_tracking:
          anyOf:
          - type: object
          - type: 'null'
        custom_text:
          type: string
        email:
          type: string
        phone:
          type: string
        website:
          type: string
        footer:
          type: string
        return_email_subject:
          type: string
        return_email_content:
          type: string
        ship_from_alias_name:
          type: string
        customer_notes_label:
          type: string
        is_default:
          type: boolean
        logo_hash:
          type: string
        logo:
          type: object
          properties:
            data:
              type: string
            mime_type:
              type: string
      required:
      - name
    put_packing_list:
      title: Put Packing List Schema
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          maxLength: 255
        branded_tracking:
          anyOf:
          - type: object
          - type: 'null'
        custom_layouts:
          type: object
        custom_text:
          anyOf:
          - type: string
          - type: 'null'
        email:
          maxLength: 75
          anyOf:
          - type: string
          - type: 'null'
        phone:
          maxLength: 255
          anyOf:
          - type: string
          - type: 'null'
        website:
          maxLength: 255
          anyOf:
          - type: string
          - type: 'null'
        footer:
          anyOf:
          - type: string
          - type: 'null'
        return_email_subject:
          maxLength: 255
          anyOf:
          - type: string
          - type: 'null'
        return_email_content:
          maxLength: 1024
          anyOf:
          - type: string
          - type: 'null'
        ship_from_alias_name:
          maxLength: 255
          anyOf:
          - type: string
          - type: 'null'
        customer_notes_label:
          maxLength: 255
          anyOf:
          - type: string
          - type: 'null'
        logo_hash:
          maxLength: 255
          anyOf:
          - type: string
          - type: 'null'
        logo:
          description: 'to be deprecated: deprecated by the app, use logo_hash instead'
          type: object
          properties:
            data:
              description: base64 encoded image data, cannot validate type
            mime_type:
              anyOf:
              - type: string
              - type: 'null'
          required:
          - data
          - mime_type
    packing_list:
      title: Packing List Schema
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        company_id:
          type: integer
        name:
          type: string
        is_default:
          type: boolean
        custom_text:
          type: string
        email:
          type: string
        phone:
          type: string
        website:
          type: string
        footer:
          type: string
        logo_hash:
          type: string
        return_email_subject:
          type: string
        return_email_content:
          type: string
        ship_from_alias_name:
          type: string
        customer_notes_label:
          type: string
        archived_date:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        _linklogo:
          type: string
        _link:
          type: string
  parameters:
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    packingListIDPath:
      name: packing_list_id
      in: path
      description: ''
      required: true
      style: simple
      schema:
        type: string
    offsetParam:
      in: query
      name: offset
      required: false
      description: ''
      schema:
        type: integer
        default: 0
        minimum: 0
    searchParam:
      name: search
      in: query
      description: ''
      schema:
        type: string
