openapi: 3.2.0
info:
  title: Ordoro API Documentation Return Label API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Return Label
  description: ''
paths:
  /return_label/:
    get:
      tags:
      - Return Label
      summary: Get a list of Return Labels
      description: Get a list of return labels by using the `s` parameter for shipments
      operationId: ReturnLabel_GET
      parameters:
      - name: s
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type2'
      - name: default
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/default'
      - name: page_width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page_height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: orientation
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/orientation'
      - name: top_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: left_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: rotation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/rotation'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /return_label/pdf/:
    get:
      tags:
      - Return Label
      summary: Get return label PDFs
      description: Get a list of return label PDFs by type and shipment
      operationId: ReturnLabelPdf_GET
      parameters:
      - name: s
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type2'
      - name: default
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/default'
      - name: page_width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page_height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: orientation
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/orientation'
      - name: top_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: left_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: rotation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/rotation'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /return_label/{label_id}/raw/:
    get:
      tags:
      - Return Label
      summary: Get a raw label image
      description: Get a raw label image by label id
      operationId: ReturnLabelRawByLabelId_GET
      parameters:
      - name: label_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
components:
  schemas:
    rotation:
      title: rotation
      enum:
      - 0
      - 90
      - 180
      - 270
      type: integer
      example: 0
    default:
      title: default
      enum:
      - desktop
      - thermal
      type: string
    orientation:
      title: orientation
      enum:
      - portrait
      - landscape
      type: string
    type2:
      title: type2
      enum:
      - single_page
      - additional_docs
      - multi_page
      - canada_pdf
      type: string
