openapi: 3.2.0
info:
  title: Ordoro API Documentation Rule API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Rule
  description: ''
paths:
  /rule/:
    get:
      tags:
      - Rule
      summary: Get a list of Rules
      description: ''
      operationId: Rule_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: latch
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/latch'
      - name: active
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    post:
      tags:
      - Rule
      summary: Create a Rule
      description: Rules are used by the Automation Rules process in Ordoro. An `index` value determines where in the list the rule takes place. Rules have inner logic for determining an IF and THEN clause. Rules may only be run as an `order_created` latch at this time. The logic is obscured internally and this may be difficult to do via the API. We would suggest that you use the UI to make any updates to Rules
      operationId: Rule_POST
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /rule/reorder/:
    put:
      tags:
      - Rule
      summary: Change rule indexes
      description: Since rules are run sequentially, you may use this endpoint to reorder a set of rules and their respective indices to alter the order in which they are run.
      operationId: RuleReorder_PUT
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /rule/{rule_id}/:
    delete:
      tags:
      - Rule
      summary: Delete a Rule by ID
      description: ''
      operationId: RuleByRuleId_DELETE
      parameters:
      - name: rule_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Rule
      summary: Get a Rule by ID
      description: ''
      operationId: RuleByRuleId_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: latch
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/latch'
      - name: active
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      - name: rule_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    put:
      tags:
      - Rule
      summary: Update a Rule by ID
      description: This may be used to alter the condition or action of a rule. The logic is obscured internally and this may be difficult to do via the API. We would suggest that you use the UI to make any updates to Rules.
      operationId: RuleByRuleId_PUT
      parameters:
      - name: rule_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
components:
  schemas:
    latch:
      title: latch
      enum:
      - order_created
      type: string
  parameters:
    searchParam:
      name: search
      in: query
      description: ''
      schema:
        type: string
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    offsetParam:
      in: query
      name: offset
      required: false
      description: ''
      schema:
        type: integer
        default: 0
        minimum: 0
