openapi: 3.2.0
info:
  title: Ordoro API Documentation Warehouse API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Warehouse
  description: ''
paths:
  /warehouse/:
    get:
      tags:
      - Warehouse
      summary: List Warehouses
      description: ''
      operationId: Warehouse_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/warehouseSort'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warehouse_list'
      deprecated: false
    post:
      tags:
      - Warehouse
      summary: Create a Warehouse
      description: ''
      operationId: Warehouse_POST
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_warehouse'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warehouse'
      deprecated: false
  /warehouse/{warehouse_id}/:
    get:
      tags:
      - Warehouse
      summary: Get a Warehouse by ID
      description: ''
      operationId: WarehouseByWarehouseId_GET
      parameters:
      - $ref: '#/components/parameters/warehouseIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warehouse'
      deprecated: false
    put:
      tags:
      - Warehouse
      summary: Update a Warehouse by ID
      description: ''
      operationId: WarehouseByWarehouseId_PUT
      parameters:
      - name: warehouse_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_warehouse'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warehouse'
      deprecated: false
  /warehouse/{warehouse_id}/make_default/:
    post:
      tags:
      - Warehouse
      summary: Set a Warehouse to the Default by ID
      description: ''
      operationId: WarehouseMakeDefaultByWarehouseId_POST
      parameters:
      - $ref: '#/components/parameters/warehouseIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warehouse'
      deprecated: false
components:
  schemas:
    warehouse_address:
      title: Warehouse Address Schema
      type: object
      additionalProperties: false
      properties:
        name:
          example: Hangar 51
          anyOf:
          - type: string
          - type: 'null'
        street1:
          example: 123 Secret Street
          anyOf:
          - type: string
          - type: 'null'
        street2:
          anyOf:
          - type: string
          - type: 'null'
        city:
          example: Roswell
          anyOf:
          - type: string
          - type: 'null'
        state:
          example: NM
          anyOf:
          - type: string
          - type: 'null'
        zip:
          example: '88201'
          anyOf:
          - type: string
          - type: 'null'
        country:
          example: US
          anyOf:
          - type: string
          - type: 'null'
        email:
          example: indiana@drjones.com
          anyOf:
          - type: string
          - type: 'null'
        phone:
          example: 555-867-5309
          anyOf:
          - type: string
          - type: 'null'
      required:
      - name
    warehouse_list:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        count:
          type: integer
        warehouse:
          type: array
          items:
            $ref: '#/components/schemas/warehouse'
      required:
      - limit
      - offset
      - count
      - warehouse
    warehouseSort:
      title: Warehouse Sort
      enum:
      - name
      - -name
      type: string
    put_warehouse:
      title: Post Warehouse Schema
      type: object
      allOf:
      - $ref: '#/components/schemas/warehouse_address'
      - properties:
          cart_id:
            type: integer
    address:
      title: Address Schema
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          example: Jimmy McGill
          anyOf:
          - type: string
          - type: 'null'
        company:
          example: Hamlin, Hamlin & McGill
          anyOf:
          - type: string
          - type: 'null'
        street1:
          example: 100 Constitution Ave
          anyOf:
          - type: string
          - type: 'null'
        street2:
          anyOf:
          - type: string
          - type: 'null'
        city:
          example: Albuquerque
          anyOf:
          - type: string
          - type: 'null'
        state:
          example: NM
          anyOf:
          - type: string
          - type: 'null'
        zip:
          example: '87109'
          anyOf:
          - type: string
          - type: 'null'
        country:
          example: US
          anyOf:
          - type: string
          - type: 'null'
        email:
          example: slippin-jimmy@saul-good.man
          anyOf:
          - type: string
          - type: 'null'
        phone:
          example: 555-867-5309
          anyOf:
          - type: string
          - type: 'null'
        fax:
          anyOf:
          - type: string
          - type: 'null'
        cart_address_id:
          anyOf:
          - type: string
          - type: 'null'
        revision_locked_fields:
          type: array
        validation:
          title: Validation status of an Address
          properties:
            status:
              type: string
              enum:
              - unvalidated
              - validated
              - warning
              - error
            suggested:
              type: array
              items:
                title: Suggested Address
                type: object
                additionalProperties: false
                properties:
                  is_commercial:
                    default: false
                    anyOf:
                    - type: boolean
                    - type: 'null'
                  street1:
                    type: string
                  street2:
                    anyOf:
                    - type: string
                    - type: 'null'
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  country_code:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - city
                - state
                - zip
                - street1
            additional_text:
              anyOf:
              - type: string
              - type: 'null'
          required:
          - status
          - additional_text
          - suggested
          additionalProperties: false
          anyOf:
          - type: object
          - type: 'null'
      required:
      - name
      - company
      - street1
      - street2
      - city
      - state
      - zip
      - country
      - email
      - phone
    post_warehouse:
      title: Post Warehouse Schema
      type: object
      allOf:
      - $ref: '#/components/schemas/warehouse_address'
      - properties:
          cart_id:
            type: integer
    warehouse:
      title: Warehouse Schema
      additionalProperties: false
      type: object
      properties:
        _link:
          type: string
        id:
          type: integer
        address:
          $ref: '#/components/schemas/address'
        cart:
          anyOf:
          - type: string
          - type: 'null'
        is_configured_for_shipping:
          type: boolean
        is_default_location:
          type: boolean
      required:
      - id
      - address
      - cart
      - is_configured_for_shipping
      - is_default_location
  parameters:
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    warehouseIDPath:
      name: warehouse_id
      in: path
      description: ''
      required: true
      style: simple
      schema:
        type: string
    offsetParam:
      in: query
      name: offset
      required: false
      description: ''
      schema:
        type: integer
        default: 0
        minimum: 0
    searchParam:
      name: search
      in: query
      description: ''
      schema:
        type: string
