openapi: 3.2.0
info:
  title: Ordoro API Documentation Postage Account API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Postage Account
  description: Methods for retrieving postage account information to be used with USPS carriers.
paths:
  /v3/account/balance:
    get:
      summary: Get balance for postage account
      operationId: V3AccountBalance_GET
      tags:
      - Postage Account
      responses:
        '200':
          description: 200 response OK
          content:
            application/json:
              example:
                balance: 888
              schema:
                $ref: '#/components/schemas/balance'
  /v3/account/add_funds:
    post:
      summary: Add funds to postage account
      description: This charges the company card on file with stripe and adds to the balance allowable for creating postage labels via USPS Pitney Bowes.
      operationId: V3AccountAddFunds_GET
      tags:
      - Postage Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_account_ledger'
            examples:
              example:
                value:
                  amount: 42
                  description: add funds for postage, low balance
      parameters: []
      responses:
        '200':
          description: 200 Response OK
          content:
            application/json:
              example:
                balance: 888
              schema:
                $ref: '#/components/schemas/balance'
components:
  schemas:
    post_account_ledger:
      title: Ledger Request Schema
      type: object
      additionalProperties: false
      properties:
        amount:
          type: number
          format: double
        description:
          type: string
      required:
      - amount
      - description
    balance:
      title: Account Balance Response Schema
      additionalProperties: false
      type: object
      properties:
        apv_balance:
          type: number
        balance:
          type: number
        daily_purchase_limit:
          type: number
        ledger_balance:
          type: number
        todays_purchases:
          type: number
        payment_account_number:
          type: string
      required:
      - balance
