openapi: 3.2.0
info:
  title: Ordoro API Documentation User API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: User
  description: ''
paths:
  /user/:
    get:
      tags:
      - User
      summary: Get a list of Users
      description: ''
      operationId: User_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_list'
      deprecated: false
    post:
      tags:
      - User
      summary: Create a User
      description: ''
      operationId: User_POST
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_user'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
  /user/me/:
    get:
      tags:
      - User
      summary: Get Currently Authenticated User
      description: ''
      operationId: UserMe_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
  /user/{user_id}/:
    get:
      tags:
      - User
      summary: Get User by ID
      description: ''
      operationId: UserByUserId_GET
      parameters:
      - name: user_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
    put:
      tags:
      - User
      summary: Update User by ID
      description: ''
      operationId: UserByUserId_PUT
      parameters:
      - name: user_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_user'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
components:
  schemas:
    user:
      title: User Schema
      additionalProperties: false
      type: object
      properties:
        _link:
          type: string
        id:
          type: integer
        company_id:
          type: integer
        name:
          type: string
        email:
          type: string
        is_active:
          type: boolean
        is_api_user:
          type: boolean
        last_login:
          type: string
          format: date-time
        date_joined:
          format: date-time
          anyOf:
          - type: string
          - type: 'null'
        email_verified:
          format: date-time
          anyOf:
          - type: string
          - type: 'null'
        permissions:
          type: object
        settings:
          type: object
      required:
      - id
      - company_id
      - name
      - email
      - is_active
      - is_api_user
      - last_login
      - date_joined
      - permissions
      - settings
    post_user:
      title: Create User Schema
      type: object
      additionalProperties: false
      properties:
        name:
          description: Full Name
          type: string
          maxLength: 60
        email:
          description: Email Address
          type: string
          maxLength: 75
          format: email
        password:
          description: Password
          type: string
          minLength: 8
          maxLength: 128
        warehouse_ids:
          description: Assigned Warehouses
          type: array
          items:
            type: number
      required:
      - email
    put_user:
      title: User Update Schema
      type: object
      additionalProperties: false
      properties:
        name:
          description: Full Name
          type: string
          maxLength: 60
        email:
          description: Email Address
          type: string
          maxLength: 75
          format: email
        password:
          description: Password
          type: string
          minLength: 8
          maxLength: 128
        warehouse_ids:
          description: Assigned Warehouses
          type: array
          items:
            type: number
        otp_seed:
          description: The seed with which to create an OTP
          anyOf:
          - type: string
          - type: 'null'
        otp:
          description: Used to verify otp_seed
          type: string
          minLength: 6
          maxLength: 6
        permissions:
          description: Permissions
          type: object
          additionalProperties: false
          properties:
            order:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  import_from_cart:
                    type: boolean
                  force_verify_packing:
                    type: boolean
                  create_label_without_contents_verified_tag:
                    type: boolean
                  manage_tag:
                    type: boolean
                  manage_tag_on_order:
                    type: boolean
                  manage_revision:
                    type: boolean
                  financials:
                    type: boolean
                  manage_filter_config:
                    type: boolean
            return_order:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  manage_tag:
                    type: boolean
                  manage_tag_on_return_order:
                    type: boolean
            manufacturing_order:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  manage_tag:
                    type: boolean
                  manage_tag_on_manufacturing_order:
                    type: boolean
            product:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  import_from_cart:
                    type: boolean
                  writeback_inventory:
                    type: boolean
                  manage_tag:
                    type: boolean
                  manage_tag_on_product:
                    type: boolean
                  update_inventory:
                    type: boolean
                  financials:
                    type: boolean
            purchase_order:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  manage_tag:
                    type: boolean
                  manage_tag_on_purchase_order:
                    type: boolean
                  financials:
                    type: boolean
            stocktake:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  manage_tag:
                    type: boolean
                  manage_tag_on_stocktake:
                    type: boolean
            analytics:
              anyOf:
              - type: boolean
              - type: object
                additionalProperties: false
                properties:
                  financial:
                    type: boolean
                  shipping:
                    type: boolean
                  inventory:
                    type: boolean
                  product:
                    type: boolean
                  customer:
                    type: boolean
            settings:
              type: boolean
            reports:
              type: boolean
            can_manage_user:
              type: boolean
        settings:
          description: Settings
          type: object
          additionalProperties: true
    user_list:
      type: object
      properties:
        count:
          type: integer
        user:
          type: array
          items:
            $ref: '#/components/schemas/user'
      required:
      - count
      - user
