openapi: 3.2.0
info:
  title: Ordoro API Documentation Api Key API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: API Key
  description: ''
paths:
  /api_key/:
    get:
      tags:
      - API Key
      summary: List API Keys
      description: ''
      operationId: ApiKey_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key_list'
      deprecated: false
    post:
      tags:
      - API Key
      summary: Create an API key
      description: ''
      operationId: ApiKey_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_api_key'
      deprecated: false
  /api_key/{api_key_id}/:
    delete:
      tags:
      - API Key
      summary: Delete an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_DELETE
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - API Key
      summary: Get an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_GET
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      deprecated: false
    put:
      tags:
      - API Key
      summary: Update an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_PUT
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_api_key'
      deprecated: false
components:
  schemas:
    api_key_list:
      title: API Key List Schema
      type: object
      properties:
        count:
          type: integer
        limit:
          type: integer
          default: 10
        offset:
          type: integer
          default: 0
        api_key:
          type: array
          items:
            $ref: '#/components/schemas/api_key'
      required:
      - count
      - limit
      - offset
      - api_key
    api_key:
      title: API Key Schema
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        archive_date:
          anyOf:
          - type: string
          - type: 'null'
        created:
          type: string
        updated:
          type: string
        company_id:
          type: integer
        user_id:
          type: integer
      required:
      - id
      - name
      - client_id
      - client_secret
      - archive_date
      - created
      - updated
      - company_id
      - user_id
    put_api_key:
      title: Update API Key
      type: object
      properties:
        name:
          type: string
      additionalProperties: false
    post_api_key:
      title: Create API Key
      type: object
      properties:
        name:
          type: string
      additionalProperties: false
      required:
      - name
