openapi: 3.2.0
info:
  title: Ordoro API Documentation Return Tracking API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Return Tracking
  description: ''
paths:
  /return_tracking/:
    get:
      tags:
      - Return Tracking
      summary: Get a list of Return Trackings
      description: These are for companies that do not use the Return Order (RMA) feature
      operationId: ReturnTracking_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: shipper_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: ship_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: tracking
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: void
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /return_tracking/{return_tracking_id}/:
    get:
      tags:
      - Return Tracking
      summary: Get a Return Tracking by ID
      description: ''
      operationId: ReturnTrackingByReturnTrackingId_GET
      parameters:
      - name: return_tracking_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
components:
  parameters:
    searchParam:
      name: search
      in: query
      description: ''
      schema:
        type: string
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    offsetParam:
      in: query
      name: offset
      required: false
      description: ''
      schema:
        type: integer
        default: 0
        minimum: 0
