openapi: 3.0.0
info:
  title: Ordoro API Documentation Address Api Key API
  description: "# Introduction\n\nThe Ordoro API can be used to access data or integrate to add functionality to Ordoro. The Ordoro API uses the application/json Content-Type. The Ordoro API documentation is in beta. [See our forum](https://forums.ordoro.com) for questions or comments to help us improve the docs or request features.\n#### Note: Any routes with a /v3 designation will not allow for trailing slashes while all other routes and endpoints will require a trailing slash.\n\n# Authentication\n\nThe Ordoro API uses [Basic HTTP Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Please create API keys via Settings->Account Settings->API Keys in app and use those for basic auth in your API requests.\n\n# Additional Resources\n\nFor a look at some code examples on how to use the API check out our github repo https://github.com/ordoro/api-examples.\n\n# API Responses\n\nMost of our endpoints return either a list of objects or a single object instance. They share similar response shapes.\n\n## List endpoints\n\nList endpoints respond with the following parameters:\n\n| Name           | Type                     | Description |\n|----------------|--------------------------|-------------|\n| `count`        | int                      | The total number of objects returned by a query ( **not** necessarily the number of objects included in a response). |\n| `limit`        | int                      | The maximum number of objects returned per request. Defaults to 10. Maximum is 100. You can set this as a URL parameter. |\n| `offset`       | int                      | The number of objects being offset in the response. May be altered as a URL Parameter. |\n| `<model name>` | array | An array of objects. The name of the model should be singular. For example, the /v3/order endpoint will have an `order` parameter, as opposed to `orders`.|\n\nHere is an example response for the `/v3/order` list endpoint.\n\n```\n{\n    \"count\": 2,\n    \"limit\": 10,\n    \"offset\" 0,\n    \"order\": [\n        {\n            // an order object\n        },\n        {\n            // another order object\n        }\n    ]\n}\n```\n\n## Instance endpoints\n\nInstance endpoints return a single instance of a serialized model. `/v3/order/{order_number}` is an example of an instance endpoint.\n\n# Error Handling\n\nError responses contain the following parameters:\n\n| Name            | Type             | Description                                                          |\n|-----------------|------------------|----------------------------------------------------------------------|\n| `error_message` | string           | Some human-readable error message.                                   |\n| `param`         | string or `null` | The name of the corresponding parameter, or null for general errors. |\n\n# Rate Limiting\n\nAPI requests will be limited to 500 requests per minute. Any requests over this threshold will respond with a 429 status code."
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Api Key
  description: ''
paths:
  /api_key/:
    get:
      tags:
      - Api Key
      summary: List API Keys
      description: ''
      operationId: ApiKey_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key_list'
      deprecated: false
    post:
      tags:
      - Api Key
      summary: Create an API key
      description: ''
      operationId: ApiKey_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_api_key'
      deprecated: false
  /api_key/{api_key_id}/:
    delete:
      tags:
      - Api Key
      summary: Delete an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_DELETE
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Api Key
      summary: Get an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_GET
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      deprecated: false
    put:
      tags:
      - Api Key
      summary: Update an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_PUT
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_api_key'
      deprecated: false
components:
  schemas:
    put_api_key:
      title: Update API Key
      type: object
      properties:
        name:
          type: string
      additionalProperties: false
    api_key_list:
      title: API Key List Schema
      type: object
      properties:
        count:
          type: integer
        limit:
          type: integer
          default: 10
        offset:
          type: integer
          default: 0
        api_key:
          type: array
          items:
            $ref: '#/components/schemas/api_key'
      required:
      - count
      - limit
      - offset
      - api_key
    api_key:
      title: API Key Schema
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        archive_date:
          anyOf:
          - type: string
          - type: 'null'
        created:
          type: string
        updated:
          type: string
        company_id:
          type: integer
        user_id:
          type: integer
      required:
      - id
      - name
      - client_id
      - client_secret
      - archive_date
      - created
      - updated
      - company_id
      - user_id
    post_api_key:
      title: Create API Key
      type: object
      properties:
        name:
          type: string
      additionalProperties: false
      required:
      - name
