openapi: 3.0.0
info:
  title: Ordoro API Documentation Address Tag API
  description: "# Introduction\n\nThe Ordoro API can be used to access data or integrate to add functionality to Ordoro. The Ordoro API uses the application/json Content-Type. The Ordoro API documentation is in beta. [See our forum](https://forums.ordoro.com) for questions or comments to help us improve the docs or request features.\n#### Note: Any routes with a /v3 designation will not allow for trailing slashes while all other routes and endpoints will require a trailing slash.\n\n# Authentication\n\nThe Ordoro API uses [Basic HTTP Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Please create API keys via Settings->Account Settings->API Keys in app and use those for basic auth in your API requests.\n\n# Additional Resources\n\nFor a look at some code examples on how to use the API check out our github repo https://github.com/ordoro/api-examples.\n\n# API Responses\n\nMost of our endpoints return either a list of objects or a single object instance. They share similar response shapes.\n\n## List endpoints\n\nList endpoints respond with the following parameters:\n\n| Name           | Type                     | Description |\n|----------------|--------------------------|-------------|\n| `count`        | int                      | The total number of objects returned by a query ( **not** necessarily the number of objects included in a response). |\n| `limit`        | int                      | The maximum number of objects returned per request. Defaults to 10. Maximum is 100. You can set this as a URL parameter. |\n| `offset`       | int                      | The number of objects being offset in the response. May be altered as a URL Parameter. |\n| `<model name>` | array | An array of objects. The name of the model should be singular. For example, the /v3/order endpoint will have an `order` parameter, as opposed to `orders`.|\n\nHere is an example response for the `/v3/order` list endpoint.\n\n```\n{\n    \"count\": 2,\n    \"limit\": 10,\n    \"offset\" 0,\n    \"order\": [\n        {\n            // an order object\n        },\n        {\n            // another order object\n        }\n    ]\n}\n```\n\n## Instance endpoints\n\nInstance endpoints return a single instance of a serialized model. `/v3/order/{order_number}` is an example of an instance endpoint.\n\n# Error Handling\n\nError responses contain the following parameters:\n\n| Name            | Type             | Description                                                          |\n|-----------------|------------------|----------------------------------------------------------------------|\n| `error_message` | string           | Some human-readable error message.                                   |\n| `param`         | string or `null` | The name of the corresponding parameter, or null for general errors. |\n\n# Rate Limiting\n\nAPI requests will be limited to 500 requests per minute. Any requests over this threshold will respond with a 429 status code."
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Tag
  description: ''
paths:
  /v3/order/{order_number}/tag/{tag_id}:
    post:
      summary: Add a tag to an order
      operationId: OrderbyOrderNumberAndTagByID_POST
      tags:
      - Tag
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: tag_id
        in: path
        type: integer
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
              - link: /tag/2
                color: '#FF0'
                text: Alert
                id: 2
              - link: /tag/1
                color: '#C0C0C0'
                text: hold
                id: 1
              schema:
                $ref: '#/components/schemas/tags'
    delete:
      summary: Remove tag from order
      operationId: OrderbyOrderNumberAndTagByID_DELETE
      tags:
      - Tag
      parameters:
      - $ref: '#/components/parameters/orderNumberPath'
      - name: tag_id
        in: path
        type: integer
        required: true
      responses:
        '200':
          description: 200 response OK
          content:
            application/json:
              example:
              - link: /tag/2
                color: '#FF0'
                text: Alert
                id: 2
              schema:
                $ref: '#/components/schemas/tags'
  /v3/tag:
    get:
      summary: Get a list of Order tags
      operationId: V3Tag_GET
      tags:
      - Tag
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                count: 2
                tag:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/1
                  id: 1
                - color: '#f7dbe7'
                  text: Tag
                  link: /tag/3
                  id: 3
                limit: 10
                offset: 0
              schema:
                $ref: '#/components/schemas/tag_list'
    post:
      summary: Create an Order Tag
      operationId: V3Tag_POST
      tags:
      - Tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_tag'
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                color: purple
                text: mytag
                link: /tag/1
                id: 1
              schema:
                $ref: '#/components/schemas/tag'
  /v3/tag/{tag_id}:
    get:
      summary: Get an Order Tag by ID
      operationId: V3TagById_GET
      tags:
      - Tag
      parameters:
      - name: tag_id
        type: string
        in: path
        required: true
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                color: '#ff0'
                text: Unpaid
                link: /tag/3
                id: 3
              schema:
                $ref: '#/components/schemas/tag'
    put:
      summary: Update an Order Tag
      operationId: V3TagById_PUT
      tags:
      - Tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_tag'
      parameters:
      - name: tag_id
        type: string
        in: path
        required: true
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                color: '#fff0'
                text: Unpaid
                link: /tag/3
                id: 3
              schema:
                $ref: '#/components/schemas/tag'
    delete:
      summary: Delete an Order Tag
      operationId: V3TagById_DELETE
      tags:
      - Tag
      parameters:
      - name: tag_id
        type: string
        in: path
        required: true
      responses:
        '200':
          description: response OK
components:
  schemas:
    post_tag:
      title: Create Tag Schema
      type: object
      properties:
        color:
          type: string
        text:
          type: string
      additionalProperties: false
      required:
      - color
      - text
    tags:
      title: Post Order Tag Response
      type: array
      items:
        $ref: '#/components/schemas/tag'
    put_tag:
      title: Update Tag Schema
      type: object
      properties:
        color:
          type: string
        text:
          type: string
      additionalProperties: false
    tag:
      title: Tag Schema
      type: object
      properties:
        color:
          type: string
        text:
          type: string
        name:
          type: string
        link:
          type: string
        id:
          type: integer
      required:
      - color
      - text
      - link
      - id
    tag_list:
      title: Tag List Schema
      type: object
      properties:
        count:
          type: integer
        tag:
          type: array
          items:
            $ref: '#/components/schemas/tag'
        limit:
          type: integer
          default: 10
        offset:
          type: integer
          default: 0
      required:
      - count
      - tag
      - limit
      - offset
  parameters:
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    orderNumberPath:
      description: Unique identifier for an Order that includes a cart index prefix
      name: order_number
      schema:
        type: string
      in: path
      required: true
    offsetParam:
      in: query
      name: offset
      required: false
      description: ''
      schema:
        type: integer
        default: 0
        minimum: 0
