openapi: 3.2.0
info:
  title: Ordoro API Documentation Goods Receipt API
  description: '# Introduction


    The Ordoro API can be used to access data or integrate to add functionality to Ordoro.'
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Goods Receipt
  description: Goods Receipts are used for receiving items on a Purchase Order. You may have multiple Goods Receipts per Purchase Order and can have multiple lines and quantities of products related to the Purchase Order.
paths:
  /goods_receipt/:
    get:
      tags:
      - Goods Receipt
      summary: Get a list of Goods Receipts
      description: ''
      operationId: GoodsReceipt_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/status'
      - name: start_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: end_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt_list'
      deprecated: false
    post:
      tags:
      - Goods Receipt
      summary: Create a Goods Receipt
      description: ''
      operationId: GoodsReceipt_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_goods_receipt'
      deprecated: false
  /goods_receipt/{goods_receipt_id}/:
    delete:
      tags:
      - Goods Receipt
      summary: Delete a Goods Receipt by ID
      description: ''
      operationId: GoodsReceiptByGoodsReceiptId_DELETE
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      deprecated: false
    get:
      tags:
      - Goods Receipt
      summary: Get a Goods Receipt by ID
      description: ''
      operationId: GoodsReceiptByGoodsReceiptId_GET
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      deprecated: false
    put:
      tags:
      - Goods Receipt
      summary: Update a Goods Receipt by ID
      description: ''
      operationId: GoodsReceiptByGoodsReceiptId_PUT
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_goods_receipt'
      deprecated: false
  /goods_receipt/{goods_receipt_id}/comment/:
    post:
      tags:
      - Goods Receipt
      summary: Create a Goods Receipt Comment by ID
      description: ''
      operationId: GoodsReceiptCommentByGoodsReceiptId_POST
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_comment'
      deprecated: false
    get:
      summary: Retrieve Comments
      operationId: GoodsReceiptCommentByGoodsReceiptId_GET
      description: ''
      tags:
      - Goods Receipt
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                count: 1
                comment:
                - user: user@ordoro.com
                  date: '2026-03-05T21:10:26.911724+00:00'
                  text: This is a very important comment
              schema:
                $ref: '#/components/schemas/comment'
  /goods_receipt/{goods_receipt_id}/line/{goods_receipt_item_id}/:
    put:
      tags:
      - Goods Receipt
      summary: Update a Goods Receipt Line by Goods Receipt ID and Line ID
      description: ''
      operationId: GoodsReceiptLineByGoodsReceiptId_PUT
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      - name: goods_receipt_item_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_goods_receipt_item'
      deprecated: false
components:
  parameters:
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    goodsReceiptIDPath:
      name: goods_receipt_id
      in: path
      description: ''
      required: true
      style: simple
      schema:
        type: string
    offsetParam:
      in: query
      name: offset
      required: false
      description: ''
      schema:
        type: integer
        default: 0
        minimum: 0
    searchParam:
      name: search
      in: query
      description: ''
      schema:
        type: string
  schemas:
    post_goods_receipt:
      title: Post Goods Receipt Schema
      type: object
      additionalProperties: false
      properties:
        po_id:
          type: string
        goods_receipt_id:
          type: string
        received_lines:
          type: array
          items:
            $ref: '#/components/schemas/goods_receipt_item'
      required:
      - po_id
      - received_lines
    put_goods_receipt_item:
      title: Put Goods Receipt Item Schema
      type: object
      additionalProperties: false
      properties:
        quantity:
          type: number
      required:
      - quantity
    status:
      title: status
      enum:
      - deleted
      - new
      - partial
      - received
      - all
      type: string
    product_base:
      title: Product Schema
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          example: Tangible
        cost:
          type: number
          example: 4.95
        id:
          type: integer
          example: 19551105
        company_id:
          type: integer
          example: 1985
        name:
          type: string
          example: Flux Capacitor
        sku:
          type: string
          example: outa-time
        taxable:
          type: string
        weight:
          type: number
          example: 1.21
        length:
          type: integer
          example: 12
        width:
          type: integer
          example: 4
        height:
          type: integer
          example: 8
        price:
          type: number
          example: 19.55
        customer_text:
          anyOf:
          - type: string
          - type: 'null'
        internal_notes:
          example: Be sure to include the complimentary almanac
          anyOf:
          - type: string
          - type: 'null'
        total_on_hand:
          type: number
        category:
          type: string
          example: misc-timetravel
        is_kit_parent:
          type: boolean
          example: false
        archive_date:
          format: date-time
          anyOf:
          - type: string
          - type: 'null'
        hs_code:
          anyOf:
          - type: string
          - type: 'null'
        country_of_origin:
          example: US
          anyOf:
          - type: string
          - type: 'null'
        customs_description:
          anyOf:
          - type: string
          - type: 'null'
        created:
          type: string
          format: date-time
          example: '2015-10-26T15:44:17.993588-06:00'
        updated:
          type: string
          format: date-time
          example: '2020-01-01T17:54:05.158248-06:00'
        upc:
          example: '847509005811'
          anyOf:
          - type: string
          - type: 'null'
        asin:
          example: B07WXJHZ1L
          anyOf:
          - type: string
          - type: 'null'
        image_url:
          anyOf:
          - type: string
          - type: 'null'
        default_image_id:
          anyOf:
          - type: string
          - type: 'null'
        _link:
          anyOf:
          - type: string
          - type: 'null'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/v3_tag'
        total_committed:
          type: number
        total_available:
          type: number
        total_allocated:
          type: number
        total_unallocated:
          type: number
        po_total_committed:
          type: number
        fulfillment_type:
          enum:
          - in_house
          - dropshippable
          - automatically_dropshipped
          anyOf:
          - type: string
          - type: 'null'
    comment:
      title: Comment Schema
      type: object
      additionalProperties: false
      properties:
        user:
          type: string
        date:
          type: string
          format: date-time
        text:
          type: string
    goods_receipt:
      title: Goods Receipt Schema
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
        po_id:
          type: string
        po_status:
          type: string
        goods_receipt_id:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        received:
          type: string
          format: date-time
        _link:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              po_item_id:
                type: string
              quantity:
                type: integer
              _link:
                type: string
              product:
                $ref: '#/components/schemas/product_base'
        comments:
          type: array
          items:
            $ref: '#/components/schemas/comment'
    goods_receipt_list:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        count:
          type: integer
        goods_receipt:
          type: array
          items:
            $ref: '#/components/schemas/goods_receipt'
      required:
      - limit
      - offset
      - count
      - goods_receipt
    post_comment:
      title: Create a Comment Schema
      type: object
      additionalProperties: false
      properties:
        comment:
          type: string
      required:
      - comment
    put_goods_receipt:
      title: Put Goods Receipt Schema
      type: object
      additionalProperties: false
      properties:
        goods_receipt_id:
          type: string
        received_lines:
          type: array
          items:
            $ref: '#/components/schemas/goods_receipt_item'
    goods_receipt_item:
      title: Goods Receipt Item Schema
      type: object
      additionalProperties: false
      properties:
        po_item_id:
          type: integer
        quantity:
          type: number
      required:
      - po_item_id
      - quantity
    v3_tag:
      title: V3 Tag Schema
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
      required:
      - id
      - name
      - color
