openapi: 3.0.0
info:
  title: Ordoro API Documentation Address Return Label API
  description: "# Introduction\n\nThe Ordoro API can be used to access data or integrate to add functionality to Ordoro. The Ordoro API uses the application/json Content-Type. The Ordoro API documentation is in beta. [See our forum](https://forums.ordoro.com) for questions or comments to help us improve the docs or request features.\n#### Note: Any routes with a /v3 designation will not allow for trailing slashes while all other routes and endpoints will require a trailing slash.\n\n# Authentication\n\nThe Ordoro API uses [Basic HTTP Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Please create API keys via Settings->Account Settings->API Keys in app and use those for basic auth in your API requests.\n\n# Additional Resources\n\nFor a look at some code examples on how to use the API check out our github repo https://github.com/ordoro/api-examples.\n\n# API Responses\n\nMost of our endpoints return either a list of objects or a single object instance. They share similar response shapes.\n\n## List endpoints\n\nList endpoints respond with the following parameters:\n\n| Name           | Type                     | Description |\n|----------------|--------------------------|-------------|\n| `count`        | int                      | The total number of objects returned by a query ( **not** necessarily the number of objects included in a response). |\n| `limit`        | int                      | The maximum number of objects returned per request. Defaults to 10. Maximum is 100. You can set this as a URL parameter. |\n| `offset`       | int                      | The number of objects being offset in the response. May be altered as a URL Parameter. |\n| `<model name>` | array | An array of objects. The name of the model should be singular. For example, the /v3/order endpoint will have an `order` parameter, as opposed to `orders`.|\n\nHere is an example response for the `/v3/order` list endpoint.\n\n```\n{\n    \"count\": 2,\n    \"limit\": 10,\n    \"offset\" 0,\n    \"order\": [\n        {\n            // an order object\n        },\n        {\n            // another order object\n        }\n    ]\n}\n```\n\n## Instance endpoints\n\nInstance endpoints return a single instance of a serialized model. `/v3/order/{order_number}` is an example of an instance endpoint.\n\n# Error Handling\n\nError responses contain the following parameters:\n\n| Name            | Type             | Description                                                          |\n|-----------------|------------------|----------------------------------------------------------------------|\n| `error_message` | string           | Some human-readable error message.                                   |\n| `param`         | string or `null` | The name of the corresponding parameter, or null for general errors. |\n\n# Rate Limiting\n\nAPI requests will be limited to 500 requests per minute. Any requests over this threshold will respond with a 429 status code."
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
tags:
- name: Return Label
  description: ''
paths:
  /return_label/:
    get:
      tags:
      - Return Label
      summary: Get a list of Return Labels
      description: Get a list of return labels by using the `s` parameter for shipments
      operationId: ReturnLabel_GET
      parameters:
      - name: s
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type2'
      - name: default
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/default'
      - name: page_width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page_height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: orientation
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/orientation'
      - name: top_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: left_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: rotation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/rotation'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /return_label/pdf/:
    get:
      tags:
      - Return Label
      summary: Get return label PDFs
      description: Get a list of return label PDFs by type and shipment
      operationId: ReturnLabelPdf_GET
      parameters:
      - name: s
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type2'
      - name: default
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/default'
      - name: page_width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page_height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: orientation
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/orientation'
      - name: top_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: left_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: rotation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/rotation'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /return_label/{label_id}/raw/:
    get:
      tags:
      - Return Label
      summary: Get a raw label image
      description: Get a raw label image by label id
      operationId: ReturnLabelRawByLabelId_GET
      parameters:
      - name: label_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
components:
  schemas:
    rotation:
      title: rotation
      enum:
      - 0
      - 90
      - 180
      - 270
      type: integer
      example: 0
    type2:
      title: type2
      enum:
      - single_page
      - additional_docs
      - multi_page
      - canada_pdf
      type: string
    orientation:
      title: orientation
      enum:
      - portrait
      - landscape
      type: string
    default:
      title: default
      enum:
      - desktop
      - thermal
      type: string
