openapi: 3.0.0
info:
  title: Ordoro API Documentation
  description: "# Introduction\n\nThe Ordoro API can be used to access data or integrate to add functionality to Ordoro. The\
    \ Ordoro API uses the application/json Content-Type. The Ordoro API documentation is in beta. [See our forum](https://forums.ordoro.com)\
    \ for questions or comments to help us improve the docs or request features.\n#### Note: Any routes with a /v3 designation\
    \ will not allow for trailing slashes while all other routes and endpoints will require a trailing slash.\n\n# Authentication\n\
    \nThe Ordoro API uses [Basic HTTP Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Please create\
    \ API keys via Settings->Account Settings->API Keys in app and use those for basic auth in your API requests.\n\n# Additional\
    \ Resources\n\nFor a look at some code examples on how to use the API check out our github repo https://github.com/ordoro/api-examples.\n\
    \n# API Responses\n\nMost of our endpoints return either a list of objects or a single object instance. They share similar\
    \ response shapes.\n\n## List endpoints\n\nList endpoints respond with the following parameters:\n\n| Name           |\
    \ Type                     | Description |\n|----------------|--------------------------|-------------|\n| `count`   \
    \     | int                      | The total number of objects returned by a query ( **not** necessarily the number of\
    \ objects included in a response). |\n| `limit`        | int                      | The maximum number of objects returned\
    \ per request. Defaults to 10. Maximum is 100. You can set this as a URL parameter. |\n| `offset`       | int        \
    \              | The number of objects being offset in the response. May be altered as a URL Parameter. |\n| `<model name>`\
    \ | array | An array of objects. The name of the model should be singular. For example, the /v3/order endpoint will have\
    \ an `order` parameter, as opposed to `orders`.|\n\nHere is an example response for the `/v3/order` list endpoint.\n\n\
    ```\n{\n    \"count\": 2,\n    \"limit\": 10,\n    \"offset\" 0,\n    \"order\": [\n        {\n            // an order\
    \ object\n        },\n        {\n            // another order object\n        }\n    ]\n}\n```\n\n## Instance endpoints\n\
    \nInstance endpoints return a single instance of a serialized model. `/v3/order/{order_number}` is an example of an instance\
    \ endpoint.\n\n# Error Handling\n\nError responses contain the following parameters:\n\n| Name            | Type     \
    \        | Description                                                          |\n|-----------------|------------------|----------------------------------------------------------------------|\n\
    | `error_message` | string           | Some human-readable error message.                                   |\n| `param`\
    \         | string or `null` | The name of the corresponding parameter, or null for general errors. |\n\n# Rate Limiting\n\
    \nAPI requests will be limited to 500 requests per minute. Any requests over this threshold will respond with a 429 status\
    \ code."
  contact: {}
  version: '1.0'
servers:
- url: https://api.ordoro.com/
  variables: {}
paths:
  /address/:
    get:
      tags:
      - Address
      summary: List Addresses
      description: ''
      operationId: Address_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_list'
      deprecated: false
    post:
      tags:
      - Address
      summary: Create a new Address
      description: ''
      operationId: Address_POST
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
      deprecated: false
  /address/{address_id}/:
    get:
      tags:
      - Address
      summary: Get an Address by ID
      description: ''
      operationId: AddressByAddressId_GET
      parameters:
      - name: address_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
      deprecated: false
    put:
      tags:
      - Address
      summary: Update an Address by ID
      description: ''
      operationId: AddressByAddressId_PUT
      parameters:
      - name: address_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_address'
      deprecated: false
  /api_key/:
    get:
      tags:
      - Api Key
      summary: List API Keys
      description: ''
      operationId: ApiKey_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key_list'
      deprecated: false
    post:
      tags:
      - Api Key
      summary: Create an API key
      description: ''
      operationId: ApiKey_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_api_key'
      deprecated: false
  /api_key/{api_key_id}/:
    delete:
      tags:
      - Api Key
      summary: Delete an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_DELETE
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Api Key
      summary: Get an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_GET
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      deprecated: false
    put:
      tags:
      - Api Key
      summary: Update an API Key by ID
      description: ''
      operationId: ApiKeyByApiKeyId_PUT
      parameters:
      - name: api_key_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_api_key'
      deprecated: false
  /authenticated/:
    get:
      tags:
      - Authenticated
      summary: Check Authentication Status
      description: ''
      operationId: Authenticated_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Authenticated Response Schema
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
      deprecated: false
  /cart/:
    get:
      tags:
      - Cart
      summary: List carts
      operationId: Cart_GET
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: all
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved list of carts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart_list'
    post:
      tags:
      - Cart
      summary: Create a new Cart
      description: Each sales channel has unique requirements, so the schema will depend on the value of the `type` parameter.
      operationId: Cart_POST
      requestBody:
        content:
          application/json:
            schema:
              discriminator:
                propertyName: type
                mapping:
                  amazon: '#/components/schemas/post_cart_amazon'
                  amazon_ca: '#/components/schemas/post_cart_amazon'
                  amazon_uk: '#/components/schemas/post_cart_amazon'
                  bigcommerce: '#/components/schemas/post_cart_bigcommerce'
                  channeladvisor: '#/components/schemas/post_cart_channeladvisor'
                  custom_integration: '#/components/schemas/post_cart_base'
                  ebay: '#/components/schemas/post_cart_ebay'
                  ecwid: '#/components/schemas/post_cart_ecwid'
                  etsy: '#/components/schemas/post_cart_etsy'
                  magento: '#/components/schemas/post_cart_magento'
                  magento_v2: '#/components/schemas/post_cart_magento_v2'
                  miva: '#/components/schemas/post_cart_miva'
                  reverb: '#/components/schemas/post_cart_reverb'
                  shopify: '#/components/schemas/post_cart_shopify'
                  shopsite: '#/components/schemas/post_cart_shopsite'
                  sps_commerce: '#/components/schemas/post_cart_sps_commerce'
                  square: '#/components/schemas/post_cart_square'
                  squarespace: '#/components/schemas/post_cart_squarespace'
                  stripe: '#/components/schemas/post_cart_stripe'
                  threedcart: '#/components/schemas/post_cart_threedcart'
                  volusion_v1: '#/components/schemas/post_cart_volusion_v1'
                  walmart: '#/components/schemas/post_cart_walmart'
                  wayfair: '#/components/schemas/post_cart_wayfair'
                  woocommerce: '#/components/schemas/post_cart_woocommerce'
              oneOf:
              - $ref: '#/components/schemas/post_cart_amazon'
              - $ref: '#/components/schemas/post_cart_bigcommerce'
              - $ref: '#/components/schemas/post_cart_channeladvisor'
              - $ref: '#/components/schemas/post_cart_base'
              - $ref: '#/components/schemas/post_cart_ebay'
              - $ref: '#/components/schemas/post_cart_ecwid'
              - $ref: '#/components/schemas/post_cart_etsy'
              - $ref: '#/components/schemas/post_cart_magento'
              - $ref: '#/components/schemas/post_cart_magento_v2'
              - $ref: '#/components/schemas/post_cart_miva'
              - $ref: '#/components/schemas/post_cart_reverb'
              - $ref: '#/components/schemas/post_cart_shopify'
              - $ref: '#/components/schemas/post_cart_shopsite'
              - $ref: '#/components/schemas/post_cart_sps_commerce'
              - $ref: '#/components/schemas/post_cart_square'
              - $ref: '#/components/schemas/post_cart_squarespace'
              - $ref: '#/components/schemas/post_cart_stripe'
              - $ref: '#/components/schemas/post_cart_threedcart'
              - $ref: '#/components/schemas/post_cart_volusion_v1'
              - $ref: '#/components/schemas/post_cart_walmart'
              - $ref: '#/components/schemas/post_cart_wayfair'
              - $ref: '#/components/schemas/post_cart_woocommerce'
      responses:
        '201':
          description: Cart successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/one_of_cart_type'
  /cart/{cart_id}/:
    get:
      tags:
      - Cart
      summary: Get an individual cart
      operationId: CartByCartId_GET
      parameters:
      - name: cart_id
        in: path
        description: The ID of the cart to be retrieved
        required: true
        style: simple
        schema:
          type: integer
      responses:
        '200':
          description: Cart successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/one_of_cart_type'
        '404':
          description: Could not find this cart
      deprecated: false
    put:
      tags:
      - Cart
      summary: Update a cart
      description: Each sales channel has unique requirements, so the schema will depend on the value of the existing cart's
        `type` parameter.
      operationId: CartByCartId_PUT
      parameters:
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/put_cart_amazon'
              - $ref: '#/components/schemas/put_cart_bigcommerce'
              - $ref: '#/components/schemas/put_cart_channeladvisor'
              - $ref: '#/components/schemas/put_cart_base'
              - $ref: '#/components/schemas/put_cart_ebay'
              - $ref: '#/components/schemas/put_cart_ecwid'
              - $ref: '#/components/schemas/put_cart_etsy'
              - $ref: '#/components/schemas/put_cart_magento'
              - $ref: '#/components/schemas/put_cart_magento_v2'
              - $ref: '#/components/schemas/put_cart_miva'
              - $ref: '#/components/schemas/put_cart_reverb'
              - $ref: '#/components/schemas/put_cart_shopify'
              - $ref: '#/components/schemas/put_cart_shopsite'
              - $ref: '#/components/schemas/put_cart_sps_commerce'
              - $ref: '#/components/schemas/put_cart_square'
              - $ref: '#/components/schemas/put_cart_squarespace'
              - $ref: '#/components/schemas/put_cart_stripe'
              - $ref: '#/components/schemas/put_cart_threedcart'
              - $ref: '#/components/schemas/put_cart_volusion_v1'
              - $ref: '#/components/schemas/put_cart_walmart'
              - $ref: '#/components/schemas/put_cart_wayfair'
              - $ref: '#/components/schemas/put_cart_woocommerce'
      responses:
        '200':
          description: Cart successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/one_of_cart_type'
      deprecated: false
  /cart/{cart_id}/warehouse/:
    get:
      tags:
      - Cart
      summary: Get cart warehouses
      operationId: CartWarehouseByCartId_GET
      parameters:
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /cart/{cart_id}/autosync/:
    get:
      tags:
      - Cart
      summary: Get cart sync setting
      operationId: CartAutosyncByCartId_GET
      parameters:
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    delete:
      tags:
      - Cart
      summary: Delete cart sync setting
      operationId: CartAutosyncByCartId_DELETE
      parameters:
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /company/:
    get:
      tags:
      - Company
      summary: Get Your Company Info
      description: ''
      operationId: Company_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
      deprecated: false
    put:
      tags:
      - Company
      summary: Update Your Company
      description: ''
      operationId: Company_PUT
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_company'
      deprecated: false
  /company/logo/:
    get:
      tags:
      - Company
      summary: Get Company Logo
      description: ''
      operationId: CompanyLogo_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company_logo'
      deprecated: false
  /company/logo/{name}/:
    get:
      tags:
      - Company
      summary: Get Company Logo by Name
      description: ''
      operationId: CompanyLogoByName_GET
      parameters:
      - name: name
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company_logo'
      deprecated: false
    put:
      tags:
      - Company
      summary: Update Company Logo by Name
      description: ''
      operationId: CompanyLogoByName_PUT
      parameters:
      - name: name
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company_logo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_company_logo'
      deprecated: false
  /company/{company_id}/logo/{name}/:
    get:
      tags:
      - Company
      summary: Get company logo by company ID and logo name
      description: ''
      operationId: CompanyLogoByCompanyIdAndName_GET
      parameters:
      - name: company_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: name
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company_logo'
      deprecated: false
  /company/{company_id}/logo/{name}/raw/:
    get:
      tags:
      - Company
      summary: Get raw logo image by company ID and logo name
      description: The `name` parameter is the name of your company logo.
      operationId: CompanyLogoRawByCompanyIdAndName_GET
      parameters:
      - name: company_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: name
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /goods_receipt/:
    get:
      tags:
      - Goods Receipt
      summary: Get a list of Goods Receipts
      description: ''
      operationId: GoodsReceipt_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/status'
      - name: start_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: end_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt_list'
      deprecated: false
    post:
      tags:
      - Goods Receipt
      summary: Create a Goods Receipt
      description: ''
      operationId: GoodsReceipt_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_goods_receipt'
      deprecated: false
  /goods_receipt/{goods_receipt_id}/:
    delete:
      tags:
      - Goods Receipt
      summary: Delete a Goods Receipt by ID
      description: ''
      operationId: GoodsReceiptByGoodsReceiptId_DELETE
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      deprecated: false
    get:
      tags:
      - Goods Receipt
      summary: Get a Goods Receipt by ID
      description: ''
      operationId: GoodsReceiptByGoodsReceiptId_GET
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      deprecated: false
    put:
      tags:
      - Goods Receipt
      summary: Update a Goods Receipt by ID
      description: ''
      operationId: GoodsReceiptByGoodsReceiptId_PUT
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_goods_receipt'
      deprecated: false
  /goods_receipt/{goods_receipt_id}/comment/:
    post:
      tags:
      - Goods Receipt
      summary: Create a Goods Receipt Comment by ID
      description: ''
      operationId: GoodsReceiptCommentByGoodsReceiptId_POST
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_comment'
      deprecated: false
    get:
      summary: Retrieve Comments
      operationId: GoodsReceiptCommentByGoodsReceiptId_GET
      description: ''
      tags:
      - Goods Receipt
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                count: 1
                comment:
                - user: user@ordoro.com
                  date: '2026-03-05T21:10:26.911724+00:00'
                  text: This is a very important comment
              schema:
                $ref: '#/components/schemas/comment'
  /goods_receipt/{goods_receipt_id}/line/{goods_receipt_item_id}/:
    put:
      tags:
      - Goods Receipt
      summary: Update a Goods Receipt Line by Goods Receipt ID and Line ID
      description: ''
      operationId: GoodsReceiptLineByGoodsReceiptId_PUT
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      - name: goods_receipt_item_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goods_receipt'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_goods_receipt_item'
      deprecated: false
  /integration/:
    get:
      tags:
      - Integration
      summary: Get a list of integrations
      description: 'Get list of integrations - current integrations include: QuickBooks Online, Stripe'
      operationId: Integration_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: vendor
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/vendor'
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type'
      - name: all
        in: query
        description: allows inclusion of archived integrations
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved list of integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration_list'
      deprecated: false
    post:
      tags:
      - Integration
      summary: Create an integration
      description: Each integration vendor has unique requirements, so the schema will depend on the value of the `vendor`
        parameter.
      operationId: Integration_POST
      parameters: []
      responses:
        '201':
          description: Integration successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/one_of_integration_type'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              discriminator:
                propertyName: vendor
                mapping:
                  quickbooks: '#/components/schemas/post_integration_quickbooks'
                  stripe: '#/components/schemas/post_integration_stripe'
                ondOf:
                - $ref: '#/components/schemas/IntegrationQuickBooksNewRequest'
                - $ref: '#/components/schemas/IntegrationStripeNewRequest'
      deprecated: false
  /integration/{integration_id}/:
    get:
      tags:
      - Integration
      summary: Get an integration by ID
      description: ''
      operationId: IntegrationByIntegrationId_GET
      parameters:
      - name: integration_id
        in: path
        description: the id of the integration to be retrieved
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/one_of_integration_type'
          headers: {}
      deprecated: false
    put:
      tags:
      - Integration
      summary: Update an integration
      description: Each integration has unique requirements, so the schema will depend on the value of the existing integration's
        `vendor` parameter.
      operationId: IntegrationByIntegrationId_PUT
      parameters:
      - name: integration_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/one_of_integration_type'
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/put_integration_quickbooks'
              - $ref: '#/components/schemas/put_integration_stripe'
      deprecated: false
  /label/{label_id}/raw/:
    get:
      tags:
      - Label
      summary: Get raw label data by ID
      description: Get label data as stored from the carrier in its direct raw image form or converted from PDF
      operationId: LabelRawByLabelId_GET
      parameters:
      - name: label_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            cache-control: private
            pragma: public
      deprecated: false
  /packing_list/:
    get:
      tags:
      - Packing List
      summary: Get a list of packing lists
      description: ''
      operationId: PackingList_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: packing_list_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list_list'
      deprecated: false
    post:
      tags:
      - Packing List
      summary: Create a packing list
      description: ''
      operationId: PackingList_POST
      parameters: []
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_packing_list'
      deprecated: false
  /packing_list/{packing_list_id}/:
    delete:
      tags:
      - Packing List
      summary: Delete a packing list by ID
      description: ''
      operationId: PackingListByPackingListId_DELETE
      parameters:
      - $ref: '#/components/parameters/packingListIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      deprecated: false
    get:
      tags:
      - Packing List
      summary: Get a packing list by ID
      description: ''
      operationId: PackingListByPackingListId_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      deprecated: false
    put:
      tags:
      - Packing List
      summary: Update a packing list by ID
      description: ''
      operationId: PackingListByPackingListId_PUT
      parameters:
      - $ref: '#/components/parameters/packingListIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_packing_list'
      deprecated: false
  /packing_list/{packing_list_id}/make_default/:
    post:
      tags:
      - Packing List
      summary: Make a Packing List the Default by ID
      description: Set this packing list as the default
      operationId: PackingListMakeDefaultByPackingListId_POST
      parameters:
      - $ref: '#/components/parameters/packingListIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packing_list'
      deprecated: false
  /product/:
    get:
      tags:
      - Product
      summary: List Products
      description: ''
      operationId: Product_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ProductSort'
      - name: fba
        in: query
        description: 'Filter products by sales channel FBA (Fulfilled By Amazon) status. This is only applicable for products
          tied to at least one Amazon sales channel.

          * `true` will include any products that are considred FBA by at least one sales channel

          * `false` will exclude any products that are considred FBA by at least one sales channel

          '
        style: form
        schema:
          type: boolean
      - name: fbm
        in: query
        description: 'Filter products by sales channel FBM (Fulfilled By Merchant) status. This is only applicable for products
          tied to at least one Amazon sales channel.

          * `true` will include any products that are considred FBM by at least one sales channel

          * `false` will exclude any products that are considred FBM by at least one sales channel

          '
        style: form
        schema:
          type: boolean
      - name: category
        in: query
        description: Filter by product category.
        style: form
        schema:
          type: string
      - name: hs_code
        in: query
        description: Filter by product Harmonized System Code.
        style: form
        schema:
          type: string
      - name: active
        in: query
        description: Filter by active `true` or inactive `false` products.
        style: form
        schema:
          type: boolean
      - name: kit
        in: query
        description: Filter products that are `true` or are not `false` kit parents.
        style: form
        schema:
          type: boolean
      - name: kit_component
        in: query
        description: Filter products that are `true` or are not `false` kit components.
        style: form
        schema:
          type: boolean
      - name: dropship
        in: query
        description: 'Filter by dropship status.

          * `true` will return products that are either dropshippable or automatically dropshipped

          * `false` will return only products handled in house

          '
        style: form
        schema:
          type: boolean
      - name: needs_sync
        in: query
        description: Filter products who do `true` or do not `false` need have their inventory synced with one or more sales
          channels.
        style: form
        schema:
          type: boolean
      - name: supplier
        in: query
        description: 'Filter by supplier id.


          Notes: The default behavior of this param is to filter by the product''s assigned suppliers.

          However, if `reordered=true` is also passed, then this param will filter products that are listed on PO''s assigned
          to the included supplier id.

          '
        style: form
        schema:
          type: array
          items:
            type: integer
      - name: sales_channel
        in: query
        description: Filter by sales channel id. Can be repeated for multiple sales channels.
        style: form
        schema:
          type: array
          items:
            type: integer
      - name: low_inventory_aoh
        in: query
        description: Filter products with `true` or without `false` low inventory with respect to available on hand
        style: form
        schema:
          type: boolean
      - name: low_inventory_poh
        in: query
        description: Filter products with `true` or without `false` low inventory with respect to physical on hand
        style: form
        schema:
          type: boolean
      - name: to_be_shipped
        in: query
        description: Filter products with `true` or without `false` committed inventory.
        style: form
        schema:
          type: boolean
      - name: oversold
        in: query
        description: Filter products that are `true` or are not `false` oversold.
        style: form
        schema:
          type: boolean
      - name: reordered
        in: query
        description: Filter products that are `true` or are not `false` reordered. Can be refined by also including the `warehouse_id`
          param.
        style: form
        schema:
          type: boolean
      - name: overallocated
        in: query
        description: Filter products that are `true` or are not `false` overallocated. Can be refined by also including the
          `warehouse_id` param.
        style: form
        schema:
          type: boolean
      - name: tag
        in: query
        description: 'Filter by tag name. Can be repeated for multiple tags.


          Note: Cannot be included if `untagged` is also passed.

          '
        style: form
        schema:
          type: array
          items:
            type: string
      - name: untagged
        in: query
        description: 'Filter untagged products


          Note: Cannot be included if `tags` are also passed.

          '
        style: form
        schema:
          type: boolean
      - name: tag_filter_by
        in: query
        description: 'Tag filtering logic:

          * `or` [default] return products that contain any of the supplied tags

          * `and` returns products containing ALL of the supplied tags

          * `only` returns products containing ONLY the supplied tags

          * `not` returns products that do not contain one or more of the supplied tags

          '
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/tag_filter_by'
      - name: warehouse_id
        in: query
        description: Filter by warehouse id. Can be repeated for multiple warehouses.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: updated_after
        in: query
        description: Filter products updated after this date
        style: form
        schema:
          type: string
          format: date-time
      - name: updated_before
        in: query
        description: Filter products updated before this date
        style: form
        schema:
          type: string
          format: date-time
      - name: cart
        in: query
        description: Deprecated. Use `sales_channel` instead.
        style: form
        explode: true
        schema:
          type: integer
        deprecated: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product_list'
      deprecated: false
    post:
      tags:
      - Product
      summary: Create a Product
      operationId: Product_POST
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_product'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      deprecated: false
  /product/{sku}/:
    get:
      tags:
      - Product
      summary: Get a product by SKU
      description: ''
      operationId: ProductBySku_GET
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      deprecated: false
    put:
      tags:
      - Product
      summary: Update a product by SKU
      operationId: ProductBySku_PUT
      description: Update a product by SKU.
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_product'
      deprecated: false
  /product/{sku}/archive/:
    post:
      tags:
      - Product
      summary: Archive a product By SKU
      description: ''
      operationId: ProductArchiveBySku_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      deprecated: false
  /product/{sku}/unarchive/:
    post:
      tags:
      - Product
      summary: Unarchive a product by SKU
      description: ''
      operationId: ProductUnarchiveBySku_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/fulfillment/:
    put:
      tags:
      - Product
      summary: Update a Product's Fulfillment by SKU
      description: ''
      operationId: ProductFulfillmentBySku_PUT
      parameters:
      - $ref: '#/components/parameters/skuPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_product_fulfillment'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      deprecated: false
  /product/{sku}/image/:
    get:
      tags:
      - Product
      summary: Get a Product's Images by SKU
      description: ''
      operationId: ProductImageBySku_GET
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    post:
      tags:
      - Product
      summary: Add Images to a product by SKU
      description: ''
      operationId: ProductImageBySku_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_product_image'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/kit_component/:
    post:
      tags:
      - Product
      summary: Create a Product Kit Component by SKU
      description: Add a `child_sku` as a kit component to the parent `sku`
      operationId: ProductKitComponentBySku_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '201':
          description: ''
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_kit_component'
      deprecated: false
    put:
      tags:
      - Product
      summary: Update a Product Kit Component by SKU
      description: Update a `child_sku` of a parent `sku`
      operationId: ProductKitComponentBySku_PUT
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_kit_component'
      deprecated: false
    delete:
      tags:
      - Product
      summary: Delete a Product Kit Component by SKU
      description: ''
      operationId: ProductKitComponentBySku_DELETE
      parameters:
      - name: child_sku
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/kit_graph/:
    get:
      tags:
      - Product
      summary: Get a Product's Kit Graph by SKU
      description: ''
      operationId: ProductKitGraphBySku_GET
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/supplier/{supplier_id}/:
    put:
      tags:
      - Product
      summary: Update a Product Supplier by SKU and Supplier ID
      description: ''
      operationId: ProductSupplierBySkuAndSupplierId_PUT
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/supplierPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_product_supplier'
      deprecated: false
    delete:
      tags:
      - Product
      summary: Delete a Product Supplier by SKU and Supplier ID
      description: ''
      operationId: ProductSupplierBySkuAndSupplierId_DELETE
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: supplier_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      deprecated: false
  /product/{sku}/default_supplier/:
    delete:
      tags:
      - Product
      summary: Delete a Product's Default Supplier by SKU
      description: ''
      operationId: ProductDefaultSupplierBySku_DELETE
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/default_supplier/{supplier_id}/:
    post:
      tags:
      - Product
      summary: Create a Product's Default Supplier by SKU and Supplier ID
      description: ''
      operationId: ProductDefaultSupplierBySkuAndSupplierId_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/supplierPath'
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/cart/{cart_id}/:
    get:
      tags:
      - Product
      summary: Get a Product Cart Bridge by SKU and Cart ID
      description: ''
      operationId: ProductCartBySkuAndCartId_GET
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    put:
      tags:
      - Product
      summary: Update a Product Cart Bridge by SKU and Cart ID
      description: ''
      operationId: ProductCartBySkuAndCartId_GET
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_product_cart_bridge'
      deprecated: false
  /product/{sku}/cart/{cart_id}/extra_info/:
    get:
      tags:
      - Product
      summary: Get a Product's Extra Info by SKU and Cart ID
      description: ''
      operationId: ProductCartExtraInfoBySkuAndCartId_GET
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    post:
      tags:
      - Product
      summary: Create a Product's Extra Info by SKU and Cart ID
      description: ''
      operationId: ProductCartExtraInfoBySkuAndCartId_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
        '201':
          description: ''
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_product_extra_info'
      deprecated: false
  /product/{sku}/cart/{cart_id}/extra_info/{extra_info_id}:
    put:
      tags:
      - Product
      summary: Update a Product's Extra Info by SKU/Cart ID/Extra Info ID
      description: ''
      operationId: ProductCartExtraInfoBySkuAndCartIdandExtraInfoId_PUT
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: cart_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: extra_info_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_product_extra_info'
      deprecated: false
  /product/{sku}/tag/{name}/:
    post:
      tags:
      - Product
      summary: Add a tag to a product by SKU and Tag Name
      description: ''
      operationId: ProductTagBySkuAndName_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: name
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    delete:
      tags:
      - Product
      summary: Delete a Product Tag by SKU and Tag Name
      description: ''
      operationId: ProductTagBySkuAndName_DELETE
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - name: name
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /product/{sku}/warehouse/{warehouse_id}/:
    put:
      tags:
      - Product
      summary: Update a Product Warehouse by SKU and Warehouse ID
      description: Update a product's warehouse by SKU and Warehouse ID. Use this endpoint to set inventory values.
      operationId: ProductWarehouseBySkuAndWarehouseId_PUT
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/warehouseIDPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_product_warehouse'
      deprecated: false
  /product/{sku}/default_dropshipper/:
    delete:
      tags:
      - Product
      summary: Delete a Product Default Dropshipper by SKU
      description: ''
      operationId: ProductDefaultDropshipperBySku_DELETE
      parameters:
      - $ref: '#/components/parameters/skuPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /product/{sku}/default_dropshipper/{supplier_id}/:
    post:
      tags:
      - Product
      summary: Create a Product Default Dropshipper by SKU
      description: ''
      operationId: ProductDefaultDropshipperBySku_POST
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/supplierPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /product/{sku}/buy/{supplier_id}/:
    post:
      tags:
      - Product
      - Purchase Order
      summary: Create a Purchase Order by SKU and Supplier ID
      description: Order More of a product. This will create or update an existing Purchase Order
      operationId: ProductBuyBySkuAndSupplierId_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_buy_more'
      parameters:
      - $ref: '#/components/parameters/skuPath'
      - $ref: '#/components/parameters/supplierPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      deprecated: false
  /product/tag/:
    get:
      tags:
      - Product
      summary: List Product Tags
      description: ''
      operationId: ProductTag_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                count: 2
                tag:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/1
                  id: 1
                - color: '#f7dbe7'
                  text: Tag
                  link: /tag/3
                  id: 3
                limit: 10
                offset: 0
              schema:
                $ref: '#/components/schemas/v3_tag_list'
      deprecated: false
    post:
      tags:
      - Product
      summary: Create a Product Tag
      description: ''
      operationId: ProductTag_POST
      parameters: []
      responses:
        '201':
          description: response OK
          content:
            application/json:
              title: V3 Tag Schema
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                color:
                  type: string
              required:
              - id
              - name
              - color
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3_tag'
      deprecated: false
  /product/tag/{tagNamePath}/:
    get:
      tags:
      - Product
      summary: Get a Product Tag By Name
      description: ''
      operationId: ProductTagWithName_GET
      parameters: []
      responses:
        '200':
          description: response OK
          content:
            application/json:
              example:
                count: 2
                tag:
                - color: '#ff0'
                  text: Unpaid
                  link: /tag/1
                  id: 1
                - color: '#f7dbe7'
                  text: Tag
                  link: /tag/3
                  id: 3
                limit: 10
                offset: 0
              schema:
                $ref: '#/components/schemas/v3_tag'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_v3_tag_list'
      deprecated: false
    put:
      tags:
      - Product
      summary: Update a Product Tag
      description: ''
      operationId: ProductTag_PUT
      parameters: []
      responses:
        '200':
          description: response OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_v3_tag'
      deprecated: false
    delete:
      tags:
      - Product
      summary: Delete a Product Tag
      description: ''
      operationId: ProductTag_DELETE
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
  /v3/manufacturing_order:
    get:
      tags:
      - Manufacturing Order
      summary: List Manufacturing Orders
      description: ''
      operationId: ManufacturingOrder_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ManufacturingOrderSort'
      - name: status
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ManufacturingOrderStatus'
      - name: tag
        in: query
        description: 'Filter by tag name. Can be repeated for multiple tags.


          Note: Cannot be included if `untagged` is also passed.

          '
        style: form
        schema:
          type: array
          items:
            type: string
      - name: tag_filter_by
        in: query
        description: 'Tag filtering logic:

          * `or` [default] return manufacturing orders that contain any of the supplied tags

          * `and` returns manufacturing orders containing ALL of the supplied tags

          * `only` returns manufacturing orders containing ONLY the supplied tags

          * `not` returns manufacturing orders that do not contain one or more of the supplied tags

          '
        style: form
        explode: true
        schema:
          type: string
      - name: untagged
        in: query
        description: 'Filter untagged manufacturing orders


          Note: Cannot be included if `tags` are also passed.

          '
        style: form
        explode: true
        schema:
          type: boolean
      - name: reference_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: warehouse_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order_list'
        deprecated: false
    post:
      tags:
      - Manufacturing Order
      summary: Create a Manufacturing Order
      description: ''
      operationId: ManufacturingOrder_POST
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_manufacturing_order'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
      deprecated: false
  /v3/manufacturing_order/{reference_id}:
    get:
      tags:
      - Manufacturing Order
      summary: Get Manufacturing Order by ID
      description: ''
      operationId: ManufacturingOrderByRefId_GET
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
        deprecated: false
    put:
      tags:
      - Manufacturing Order
      summary: Update Manufacturing Order by ID
      description: ''
      operationId: ManufacturingOrderByRefId_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_manufacturing_order'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
        deprecated: false
  /v3/manufacturing_order/counts:
    get:
      tags:
      - Manufacturing Order
      summary: Get Manufacturing Order Counts
      description: ''
      operationId: ManufacturingOrderCounts_GET
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_manufacturing_order_count'
      responses:
        '200':
          description: ''
          headers: {}
        deprecated: false
  /v3/manufacturing_order/tag:
    post:
      tags:
      - Manufacturing Order
      summary: Create a Manufacturing Order Tag
      description: ''
      operationId: ManufacturingOrderTags_POST
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_v3_tag'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
    get:
      tags:
      - Manufacturing Order
      summary: Get Manufacturing Order Tags
      description: ''
      operationId: ManufacturingOrderTags_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag_list'
      deprecated: false
  /v3/manufacturing_order/tag/{name}:
    get:
      tags:
      - Manufacturing Order
      summary: Get Manufacturing Order Tag by Name
      description: ''
      operationId: ManufacturingOrderTag_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
      deprecated: false
    put:
      tags:
      - Manufacturing Order
      summary: Update a Manufacturing Order Tag by Name
      description: ''
      operationId: ManufacturingOrderTags_PUT
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_v3_tag'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
    delete:
      tags:
      - Manufacturing Order
      summary: Delete a Manufacturing Order Tag by Name
      description: ''
      operationId: ManufacturingOrderTags_DELETE
      parameters: []
      responses:
        '200':
          description: response OK
  /v3/manufacturing_order/{reference_id}/tag/{tag_name}:
    post:
      tags:
      - Manufacturing Order
      summary: Apply a Manufacturing Order Tag to Manufacturing Order
      description: ''
      operationId: ManufacturingOrderTagPO_POST
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
    delete:
      tags:
      - Manufacturing Order
      summary: Remove a Manufacturing Order Tag from a Manufacturing Order
      description: ''
      operationId: ManufacturingOrderTagPO_DELETE
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
  /v3/manufacturing_order/{reference_id}/comment:
    post:
      tags:
      - Manufacturing Order
      summary: Create a Manufacturing Order Comment by MO ID
      description: ''
      operationId: ManufacturingOrderCommentByMoId_POST
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment'
      deprecated: false
    get:
      summary: Retrieve Comments
      operationId: ManufacturingOrderCommentByMoId_GET
      description: ''
      tags:
      - Manufacturing Order
      parameters:
      - $ref: '#/components/parameters/goodsReceiptIDPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                count: 1
                comment:
                - user: user@ordoro.com
                  date: '2026-03-05T21:10:26.911724+00:00'
                  text: This is a very important comment
              schema:
                $ref: '#/components/schemas/comment'
  /v3/manufacturing_order/{reference_id}/line:
    post:
      tags:
      - Manufacturing Order
      summary: Create a Manufacturing Order line
      description: ''
      operationId: ManufacturingOrderLine_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_manufacturing_order_line'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
      deprecated: false
  /v3/manufacturing_order/{reference_id}/line/{manufacturing_order_line_id}:
    put:
      tags:
      - Manufacturing Order
      summary: Update a Manufacturing Order line
      description: ''
      operationId: ManufacturingOrderLine_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_manufacturing_order_line'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
      deprecated: false
    delete:
      tags:
      - Manufacturing Order
      summary: Remove a Manufacturing Order line from Manufacturing Order
      description: ''
      operationId: ManufacturingOrderLine_DELETE
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
      deprecated: false
  /v3/manufacturing_order/{reference_id}/line/{manufacturing_order_line_id}/finish:
    post:
      tags:
      - Manufacturing Order
      summary: Mark a Manufacturing Order line as finished
      description: ''
      operationId: ManufacturingOrderLineFinished_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_manufacturing_order_line_finish'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturing_order'
      deprecated: false
  /purchase_order/:
    get:
      tags:
      - Purchase Order
      summary: List Purchase Orders
      description: ''
      operationId: PurchaseOrder_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/PurchaseOrderSort'
      - name: status
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/PurchaseOrderStatus'
      - name: sku
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: end_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: tag
        in: query
        description: 'Filter by tag name. Can be repeated for multiple tags.


          Note: Cannot be included if `untagged` is also passed.

          '
        style: form
        schema:
          type: array
          items:
            type: string
      - name: tag_filter_by
        in: query
        description: 'Tag filtering logic:

          * `or` [default] return purchase orders that contain any of the supplied tags

          * `and` returns purchase orders containing ALL of the supplied tags

          * `only` returns purchase orders containing ONLY the supplied tags

          '
        style: form
        explode: true
        schema:
          type: string
      - name: exclude_tags
        description: 'Note: Cannot be included if `untagged` is also passed.

          '
        type: array
        schema:
          type: array
          items:
            type: string
        in: query
        required: false
      - name: untagged
        in: query
        description: 'Filter untagged purchase orders


          Note: Cannot be included if `tags` or `exclude_tags` are also passed.

          '
        style: form
        explode: true
        schema:
          type: boolean
      - name: updated_after
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: updated_before
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order_list'
      deprecated: false
    post:
      tags:
      - Purchase Order
      summary: Create a Purchase Order
      description: ''
      operationId: PurchaseOrder_POST
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_purchase_order'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      deprecated: false
  /purchase_order/counts/:
    get:
      tags:
      - Purchase Order
      summary: Get Purchase Order Counts
      description: ''
      operationId: PurchaseOrderCounts_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order_counts'
      deprecated: false
  /purchase_order/{po_id}/:
    delete:
      tags:
      - Purchase Order
      summary: Delete a Purchase Order by ID
      description: Cancel a purchase order.
      operationId: PurchaseOrderByPoId_DELETE
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      deprecated: false
    get:
      tags:
      - Purchase Order
      summary: Get a Purchase Order by ID
      description: ''
      operationId: PurchaseOrderByPoId_GET
      parameters:
      - $ref: '#/components/parameters/poidPath'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/PurchaseOrderSort'
      - name: status
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/PurchaseOrderStatus'
      - name: sku
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: end_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      deprecated: false
    put:
      tags:
      - Purchase Order
      summary: Update a Purchase Order by ID
      description: ''
      operationId: PurchaseOrderByPoId_PUT
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_purchase_order'
      deprecated: false
  /purchase_order/{po_id}/comment/:
    post:
      tags:
      - Purchase Order
      summary: Create a Purchase Order Comment by PO ID
      description: ''
      operationId: PurchaseOrderCommentByPoId_POST
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_comment'
      deprecated: false
    get:
      summary: Retrieve Comments
      operationId: PurchaseOrderCommentByPoId_GET
      description: ''
      tags:
      - Purchase Order
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                count: 1
                comment:
                - user: user@ordoro.com
                  date: '2026-03-05T21:10:26.911724+00:00'
                  text: This is a very important comment
              schema:
                $ref: '#/components/schemas/comment'
  /purchase_order/{po_id}/create_goods_receipt/:
    post:
      tags:
      - Purchase Order
      summary: Create a Purchase Order Goods Receipt by PO ID
      description: ''
      operationId: PurchaseOrderCreateGoodsReceiptByPoId_POST
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_purchase_order_goods_receipt'
      deprecated: false
  /purchase_order/{po_id}/line/:
    post:
      tags:
      - Purchase Order
      summary: Create a Purchase Order Line by PO ID
      description: ''
      operationId: PurchaseOrderLineByPoId_POST
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_purchase_order_item'
      deprecated: false
  /purchase_order/{po_id}/line/{po_item_id}/:
    delete:
      tags:
      - Purchase Order
      summary: Delete a Purchase Order Line by PO ID and PO Line ID
      description: ''
      operationId: PurchaseOrderLineByPoIdAndPoItemId_DELETE
      parameters:
      - $ref: '#/components/parameters/poidPath'
      - name: po_item_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      deprecated: false
    put:
      tags:
      - Purchase Order
      summary: Update a Purchase Order Line by PO ID and PO Line ID
      description: ''
      operationId: PurchaseOrderLineByPoIdAndPoItemId_PUT
      parameters:
      - $ref: '#/components/parameters/poidPath'
      - name: po_item_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_purchase_order_item'
      deprecated: false
  /purchase_order/{po_id}/send/:
    get:
      tags:
      - Purchase Order
      summary: Preview a Purchase Order
      description: ''
      operationId: PurchaseOrderSendByPoId_GET
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    post:
      tags:
      - Purchase Order
      summary: Send a Purchase Order to the Supplier
      description: ''
      operationId: PurchaseOrderSendByPoId_POST
      parameters:
      - $ref: '#/components/parameters/poidPath'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
      deprecated: false
  /purchase_order/tag/:
    post:
      tags:
      - Purchase Order
      summary: Create a Purchase Order Tag
      description: ''
      operationId: PurchaseOrderTags_POST
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_v3_tag'
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
    get:
      tags:
      - Purchase Order
      summary: Get Purchase Order Tags
      description: ''
      operationId: PurchaseOrderTags_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag_list'
      deprecated: false
  /purchase_order/tag/{name}/:
    get:
      tags:
      - Purchase Order
      summary: Get Purchase Order Tag by Name
      description: ''
      operationId: PurchaseOrderTag_GET
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
      deprecated: false
    put:
      tags:
      - Purchase Order
      summary: Update a Purchase Order Tag by Name
      description: ''
      operationId: PurchaseOrderTags_PUT
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_v3_tag'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3_tag'
    delete:
      tags:
      - Purchase Order
      summary: Delete a Purchase Order Tag by Name
      description: ''
      operationId: PurchaseOrderTags_DELETE
      parameters: []
      responses:
        '200':
          description: response OK
  /purchase_order/{po_id}/tag/{tag_name}/:
    post:
      tags:
      - Purchase Order
      summary: Apply a Purchase Order Tag to Purchase Order
      description: ''
      operationId: PurchaseOrderTagPO_POST
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
    delete:
      tags:
      - Purchase Order
      summary: Remove a Purchase Order Tag from a Purchase Order
      description: ''
      operationId: PurchaseOrderTagPO_DELETE
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_order'
  /return_label/:
    get:
      tags:
      - Return Label
      summary: Get a list of Return Labels
      description: Get a list of return labels by using the `s` parameter for shipments
      operationId: ReturnLabel_GET
      parameters:
      - name: s
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type2'
      - name: default
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/default'
      - name: page_width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page_height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: orientation
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/orientation'
      - name: top_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: left_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: rotation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/rotation'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /return_label/pdf/:
    get:
      tags:
      - Return Label
      summary: Get return label PDFs
      description: Get a list of return label PDFs by type and shipment
      operationId: ReturnLabelPdf_GET
      parameters:
      - name: s
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/type2'
      - name: default
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/default'
      - name: page_width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page_height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: orientation
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/orientation'
      - name: top_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: left_margin
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: width
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: height
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: rotation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/rotation'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: true
  /return_label/{label_id}/raw/:
    get:
      tags:
      - Return Label
      summary: Get a raw label image
      description: Get a raw label image by label id
      operationId: ReturnLabelRawByLabelId_GET
      parameters:
      - name: label_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /return_tracking/:
    get:
      tags:
      - Return Tracking
      summary: Get a list of Return Trackings
      description: These are for companies that do not use the Return Order (RMA) feature
      operationId: ReturnTracking_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: shipper_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: ship_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: tracking
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: void
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /return_tracking/{return_tracking_id}/:
    get:
      tags:
      - Return Tracking
      summary: Get a Return Tracking by ID
      description: ''
      operationId: ReturnTrackingByReturnTrackingId_GET
      parameters:
      - name: return_tracking_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /rule/:
    get:
      tags:
      - Rule
      summary: Get a list of Rules
      description: ''
      operationId: Rule_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: latch
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/latch'
      - name: active
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    post:
      tags:
      - Rule
      summary: Create a Rule
      description: Rules are used by the Automation Rules process in Ordoro. An `index` value determines where in the list
        the rule takes place. Rules have inner logic for determining an IF and THEN clause. Rules may only be run as an `order_created`
        latch at this time. The logic is obscured internally and this may be difficult to do via the API. We would suggest
        that you use the UI to make any updates to Rules
      operationId: Rule_POST
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /rule/reorder/:
    put:
      tags:
      - Rule
      summary: Change rule indexes
      description: Since rules are run sequentially, you may use this endpoint to reorder a set of rules and their respective
        indices to alter the order in which they are run.
      operationId: RuleReorder_PUT
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /rule/{rule_id}/:
    delete:
      tags:
      - Rule
      summary: Delete a Rule by ID
      description: ''
      operationId: RuleByRuleId_DELETE
      parameters:
      - name: rule_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Rule
      summary: Get a Rule by ID
      description: ''
      operationId: RuleByRuleId_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: latch
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/latch'
      - name: active
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      - name: rule_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    put:
      tags:
      - Rule
      summary: Update a Rule by ID
      description: This may be used to alter the condition or action of a rule. The logic is obscured internally and this
        may be difficult to do via the API. We would suggest that you use the UI to make any updates to Rules.
      operationId: RuleByRuleId_PUT
      parameters:
      - name: rule_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /shipper/:
    get:
      tags:
      - Shipper
      summary: Get a list of Shippers
      description: ''
      operationId: Shipper_GET
      parameters:
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/searchParam'
      - name: sort
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: all
        in: query
        description: Allows for retrieval of archived shippers as well
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved list of shippers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipper_list'
      deprecated: false
    post:
      tags:
      - Shipper
      summary: Create a Shipper
      description: Each shipper has unique authentication requirements, so the schema depends on the value of the `vendor`
        parameter.
      operationId: Shipper_POST
      requestBody:
        content:
          application/json:
            schema:
              discriminator:
                propertyName: vendor
                mapping:
                  amazon: '#/components/schemas/post_shipper_amazon'
                  australia_post: '#/components/schemas/post_shipper_australia_post'
                  canada_post: '#/components/schemas/post_shipper_canada_post'
                  dhl: '#/components/schemas/post_shipper_dhl'
                  endicia: '#/components/schemas/post_shipper_endicia'
                  fedex: '#/components/schemas/post_shipper_fedex'
                  pitney: '#/components/schemas/post_shipper_pitney'
                  pitney_merchant: '#/components/schemas/post_shipper_pitney'
                  pitney_presort: '#/components/schemas/post_shipper_pitney'
                  ups: '#/components/schemas/post_shipper_ups'
              oneOf:
              - $ref: '#/components/schemas/post_shipper_amazon'
              - $ref: '#/components/schemas/post_shipper_australia_post'
              - $ref: '#/components/schemas/post_shipper_canada_post'
              - $ref: '#/components/schemas/post_shipper_dhl'
              - $ref: '#/components/schemas/post_shipper_endicia'
[...]
